@import '../theme/theme';

.driverInfoFlatCompareFlat() {
	left: 0;
	right: 0;
	text-align: center;
	font-family: Oswald;
	color: #fff;
	.inner {
		white-space: nowrap;
		width: auto;
		height: 81px;
		display: inline-block;
		position: relative;
	}
	.extra-info {
display:none;
	}
	.position, .name, .vehicle, .team, .manufacturer, .flag-container {
		vertical-align: top;
		display: inline-block;
		height: 71px;
		line-height: 75px;
	}
	.best-time {
		font-size: 18px;
		background: @CompareRaceBestTimeBackground;
		padding: 10px 10px;
		margin-right: 10px;
		border-radius: 15px 15px 0 0;
		color: @CompareRaceBestTimeText;
		height: 35px;
		width: 130px;
		z-index: 0;
		margin-bottom: 0px;
		position: absolute;
		left: 150px;
		bottom: 100%;
		-webkit-transition: top 0.5s;
	}
	.position {
		background: @CompareRacePositionBackground;
		color: @CompareRacePositionText;
		width: 65px;
		font-size: 50px;
		text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
		text-align: center;
		padding-left: 0px;
		line-height: 70px;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
		border-bottom: 1px solid @CompareRacePositionBorder;
	}
	.name {
  	background: @CompareRaceNameBackground;
		color: @CompareRaceNameText;
		font-size: 30px;
		padding: 0 20px;
		min-width: 320px;
		border-bottom: 1px solid @CompareRaceNameBorder;
	}
	.team {
		position: absolute;
		background: @CompareRaceTeamNameBackground;
		color: @CompareRaceTeamNameText;
		height: 30px;
		font-size: 20px;
		text-transform: uppercase;
		left: 20%;
		right: 13%;
		top: 71px;
		line-height: 30px;
		border: 1px;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
	}
	.vehicle {
		background-position: -442px 0;
		width: 36px;
		position: absolute;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		img {
			position: absolute;
			top: -80px;
			left: -170px;
			height: 110px;
		}
	}
	.manufacturer {
		background: @CompareRaceManufacturerBackground;
		background-position: -442px 0;
		width: 76px;
		position: relative;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		border-bottom: 1px solid @CompareRaceManufacturerBorder;
		img {
			position: absolute;
			top: 5px;
			left: 8px;
			height: 60px;
		}
	}
	/* Hide DRS inactive state on all cars to not show on cars that don't have drs. Height, Font size for inactive is invisible */
	.drs {
	.icon {
		width: 0px;
	}
		&.active {
			.icon {
				background: @CompareRaceDRSActiveBackground;
				position: absolute;
				top: -30px;
				left: 15px;
				right: 10px;
				height: 30px;
				line-height: 35px;
				font-family: Oswald;
				font-size: 20px;
				width: 47px;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				bottom: 0;
			}
		}
	}
	.ptp {
		.icon {
			width: 0px;
		}
		&.active {
			.icon {
				background: @CompareRaceDRSActiveBackground;
				position: absolute;
				top: -35px;
				left: 10px;
				right: 10px;
				height: 35px;
				line-height: 35px;
				font-family: Oswald;
				font-size: 20px;
				width: 52px;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				bottom: 0;
			}
		}
	}
	.flag-container {
		width: 61px;
		background-position: -65px 0;
		position: relative;
		margin-right: 5px;
		.flag {
			width: 81px;
			height: 71px;
			background: #000;
			position: absolute;
			display: block;
			content: '';
			width: 80px;
			height: 80px;
			background: #000;
			position: absolute;
			top: -9px;
			left: -5px;
			border-bottom-right-radius: 20%;
			border-top-left-radius: 20%;
			filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.9));
			z-index: 1;
		}
	}
}

.compare-race {
	position: fixed;
	bottom: 80px;
	height: 70px;
	left: 0;
	right: 0;
	text-align: center;

	.delta {
		font-size: 20px;
		text-transform: uppercase;
		background: @CompareRaceDeltaBackground;
		border-radius: 20px;
		color: @CompareRaceDeltaText;
		border-top: 3px solid @CompareRaceDeltaDeltaBorder;
		padding: 6px 10px;
		min-width: 130px;
		display: inline-block;
		display: inline-block;
		position: relative;

		.battle {
			font-size: 17px;
			text-transform: uppercase;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
			color: @CompareRaceDeltaText;
			padding: 6px 10px;
			width: inherit;
			position: relative;
			bottom: 4px;
		}

		.inner {
			position: absolute !important;
			top: 10px;
			&.first {
				left: auto;
				right: 100%;
				margin-right: 20px;
			}
			&.second {
				right:  auto;
				left: 100%;
				margin-left: 20px;
			}
		}
	}
	.inner {
		.driverInfoFlatCompareFlat;
		position: absolute !important;
	}
}
