@import '../theme/theme';

.flat .safetyAlert {
  font-family: Oswald;
	position: fixed;
	top: 200px;
  right: 50px;
	font-size: 23px;
	text-transform: uppercase;
  border-top: 3px solid @SafetyCarInTitleBorderTop;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	min-height: 25px;
	width: 300px;
	line-height: 33px;
	text-align: center;
	display: inline-block;

  .raceControl {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: @SafetyCarInTitleBackgroundColor;
    color: @SafetyCarInTitleText;
  }
  .safetyCarIn {
    background: @SafetyCarInMessageBackground;
    color: @SafetyCarInMessageText;
    font-size: 18px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
