@import '../theme/theme';

.flat .sessionName {
	font-family: Oswald;
	position: fixed;
	top: 20px;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	font-size: 21px;
	background: @SessionInfoPhaseBackground;
	text-transform: uppercase;
	border-top: 3px solid @SessionInfoPhaseBorderTop;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	color: @SessionInfoPhaseTextColor;
	width: 180px;
	height: 35px;
	padding: 0px 4px;
	line-height: 32px;
	text-align: center;
	display: inline-block;
}

.timer {
	font-family: Oswald;
	position: fixed;
	top: 55px;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	font-size: 22px;
	background: @SessionInfoTimerBackground;
	text-transform: uppercase;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	color: @SessionInfoTimerTextColor;
	height: 35px;
	width: 180px;
	line-height: 33px;
	text-align: center;
	display: inline-block;
}

.yellowFlag {
	position: fixed;
	background-color: yellow;
	top: 55px;
	left: 870px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	height: 35px;
	width: 180px;
}

.flag {
	img {
		position: absolute;
		top: 33px;
		left: 850px;
		height: 40px;
		width: 40px;
		border-radius: 30px;
		opacity: 1;
		z-index: 2;
		border: 2px solid @SessionInfoPhaseBorderTop;
		filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.9));
	}
}

.checkered {
		img {
		position: fixed;
		top: 55px;
		left: 870px;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		height: 35px;
		width: 180px;
		z-index: 1;
	}
}
