@import '../theme/z';

.sessionName {
	font-family: Oswald;
	position: fixed;
	top: 1em;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	font-size: @fontSize;
	background: @SessionInfoPhaseBackground;
	text-transform: uppercase;
	border-top: 0.20em solid @SessionInfoPhaseBorderTop;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	color: @SessionInfoPhaseTextColor;
	width: 9em;
	height: 2em;
	padding: 0em 0.25em;
	line-height: 1.6em;
	text-align: center;
	display: inline-block;
	z-index: 1;
	filter: drop-shadow(2px 2px 2px rgba(0,0,0,1));
}

.timer {
	font-family: Oswald;
	position: fixed;
	top: 3em;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	font-size: @fontSize;
	background: @SessionInfoTimerBackground;
	text-transform: uppercase;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	color: @SessionInfoTimerTextColor;
	width: 9em;
	height: 2em;
	line-height: 1.8em;
	text-align: center;
	display: inline-block;
	z-index: 1;
	filter: drop-shadow(2px 2px 2px rgba(0,0,0,1));
}

.yellowFlag {
	font-size: @fontSize;
	position: fixed;
	background-color: yellow;
	top: 1.8em;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	height: 2em;
	width: 9em;
	z-index: 2;
}

.sessionInfoFlag {
	position: fixed;
	font-size: @fontSize;
	top: 1.8em;
	left: 50%;
	-webkit-transform: translate(-250%, 0);
	z-index: 3;
	img {
		height: 2em;
		width: 2em;
		border-radius: 2.5em;
		opacity: 1;
		border: 0.1em solid @SessionInfoPhaseBorderTop;
		filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.9));
	}
}

.checkered {
		font-size: @fontSize;
		img {
		position: fixed;
		top: 3em;
		left: 50%;
		-webkit-transform: translate(-50%, 0);
		border-bottom-left-radius: 1em;
		border-bottom-right-radius: 1em;
		height: 2em;
		width: 9em;
		z-index: 2;
	}
}
