@import '../theme/theme';

.race-results-bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.7);
}
.race-results {
	.entries-outer {
		max-height: 820px;
		overflow: hidden;

		.entries-inner {
			top: 0;
			position: relative;
			-webkit-transition: top 15s linear;
		}
	}
	.livery {
		-webkit-transform: translate3d(0,0,0);
	}
}
.race-results {
	position: fixed;
	top: 50%;
	left: 20%;
	right: 20%;
	-webkit-transform: translate(0, -50%);
	z-index: -1;
	padding: 0px;
	color: @RaceResultTitleTextColor;
	white-space: pre;
	font-family: Oswald;
	width: 60%;
	.title {
		.text {
			position: inherit;
			height: 69px;
			text-align: right;
			padding: 0 15px 0 0;
			line-height: 85px;
			font-size: 30px;
			background: @QualiResultTitleBackground;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			border-top: 5px solid @QualiResultTitleBorderTop;
			text-transform: uppercase;
			margin-bottom: 10px;
			z-index: 0;
			.logo {
				position: absolute;
				content: @RaceResultTitleLogo;
				height: 55px;
				top: 10px;
				left: 20px;
				z-index: 1;
			}
		}
	}
	.race-results-entry {
		height: 37px;
		line-height: 37px;
		margin-bottom: 4px;
		font-size: 19px;
		color: @RaceResultEntryTextColor;
		background: @RaceResultEntryBackground;
		white-space: nowrap;
		overflow: hidden;
		&.title {
			padding: 0 0 0 0px;
			font-size: 23px;
		}
		&.fastest {
			.fastest-time {
				color: #f500f5;
			}
		}
		& > div {
			height: 37px;
			padding: 0 0 0 5px;
			float: left;
		}
		.position {
			text-align: center;
			width: 10%;
			position: relative;
		}
		.classPosition {
			width: 10%;
			position: relative;
			text-align: center;
			color: white;
		}
		.manufacturer {
			width: 5%;
			position: relative;
			img {
				position: absolute;
				top: 7px;
				left: 8px;
				width: 26px;
				height: auto;
			}
		}
		.penaltyTime {
			width: 10%;
			position: relative;
			text-align: center;
		}
		.name {
			position: relative;
		}
		.livery {
			width: 10%;
			position: relative;
			img {
				position: relative;
				height: 60px;
				right: 30px;
				top: -10px;
			}
		}
		.fastest-time, .lap-time {
			width: 10%;
			text-align: center;
			position: relative;
		}
	}
}
