/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
div,
span,
input,
a {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -webkit-user-select: none;
}
.event-info-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
}
.flat .event-info {
  background: rgba(38, 50, 56, 0.8);
  position: fixed;
  top: 50%;
  left: 25%;
  right: 25%;
  -webkit-transform: translate(0, -50%);
  z-index: -1;
  padding: 0px;
  color: #fff;
  white-space: pre;
  font-family: Oswald;
  width: 944px;
  border-radius: 10px;
  border-top: 10px solid #ff5252;
  border-bottom: 5px solid #ff5252;
}
.flat .event-info .serverName {
  color: white;
  text-align: center;
  font-size: 40px;
  padding: 20px;
}
.flat .event-info .trackImage img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.flat .event-info .trackImage .trackLogo {
  position: relative;
}
.flat .event-info .trackImage .trackLogo img {
  top: -110px;
  left: 10px;
  position: absolute;
  opacity: 1;
  height: 100px;
  width: 100px;
  background-color: white;
}
.flat .event-info .countryFlag {
  text-align: center;
  padding-top: 15px;
}
.flat .event-info .countryFlag img {
  position: relative;
  opacity: 1;
  height: 50px;
  width: 70px;
}
.flat .event-info .serverTrackName {
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 15px;
  border-bottom: 1px solid white;
  width: 80%;
  margin: auto;
}
.flat .event-info .trackDescription {
  color: white;
  display: block;
  width: 100%;
  font-size: 20px;
  padding: 10px;
  min-height: 100px;
  white-space: pre-line;
  text-align: center;
  line-height: 1.5;
}
.flat .event-info .weather .weatherIcons {
  display: flex;
  color: white;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 21px;
}
@font-face {
  font-family: 'Hel';
  font-style: normal;
  font-weight: 400;
  src: local('Hel'), local('Hel'), url(/fonts/hel.woff) format('woff');
}
/* ---------------------------------------------------------------------------------------- */
html,
body {
  background: transparent;
  font: 14px/1 Helvetica, verdana, arial, sans-serif;
  color: #000;
}
body {
  padding: 10px;
}
.spectator-app {
  -webkit-animation: "ani_1" 1s ease, "ani_2" 1s ease;
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 20px;
}
@-webkit-keyframes "ani_1" {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes "ani_2" {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ---- Abel ---- */
@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  src: local('Abel'), local('Abel Regular'), local('Abel-Regular'), url(/fonts/Abel.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* ---- Oswald ---- */
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(/fonts/Oswald-cyrilic.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(/fonts/Oswald-lat-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(/fonts/Oswald-lat.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* ---- Inconsolata ---- */
/* latin-ext */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(/fonts/Inconsolata-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(/fonts/Inconsolata-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  background-color: #263238;
  color: white;
  font-size: 19px;
  position: absolute;
  padding: 15px;
  min-height: 50px;
  min-width: 250px;
  right: 120%;
  top: -140%;
  white-space: normal;
  border-radius: 25px;
  border-top: 5px solid;
  border-top-color: #ff5252;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  z-index: 99999;
  visibility: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6) inset;
}
[data-title] {
  position: relative;
}
.app-controller {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #263238;
  font-family: Abel;
}
.app-controller .title {
  position: fixed;
  top: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  height: 70px;
  left: 0px;
  right: 0;
  padding: 20px;
  font-size: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
  color: white;
  border-bottom: 5px solid #ff5252;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background: #263238;
}
.app-controller .title .toggle-track-map {
  float: right;
  height: 50px;
  margin: -10px 0 0;
}
.app-controller .title .toggle-track-map:hover {
  opacity: 0.8;
  cursor: pointer;
}
.app-controller .title .toggle-track-map:hover:active {
  -webkit-transform: scale(0.9);
}
.app-controller .drivers-controls .controlPanel {
  position: absolute;
  bottom: 0px;
  height: 200px;
  background: #263238;
  color: white;
  font-family: Oswald;
  border-top: 5px solid #00E676;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  z-index: 4;
}
.app-controller .drivers-controls .controlPanel .controlPanelOption {
  float: left;
  position: relative;
  border-left: 5px solid rgba(0, 0, 0, 0);
  margin-right: -5px;
}
.app-controller .drivers-controls .controlPanel .controlPanelOption .option {
  margin: 20px;
}
.app-controller .drivers-container {
  position: fixed;
  top: 100px;
  bottom: 0;
  left: 20px;
  right: 270px;
}
.app-controller .drivers-container.has-suggestions {
  left: 270px;
}
.app-controller .drivers-container .drivers {
  position: absolute;
  top: 50%;
  left: 50%;
}
.app-controller .drivers-container .driver-entry {
  float: left;
  position: relative;
  opacity: 0.5;
  border-left: 5px solid rgba(0, 0, 0, 0);
  margin-right: -5px;
}
.app-controller .drivers-container .driver-entry.focused {
  opacity: 1;
}
.app-controller .drivers-container .driver-entry.idle {
  opacity: 0.05;
}
.app-controller .drivers-container .driver-entry .meta {
  right: 0;
  color: #fff;
  position: absolute;
  bottom: 0;
  text-shadow: 0 0 10px #000;
  -webkit-transform-origin: bottom right;
}
.app-controller .drivers-container .driver-entry .meta .flag {
  height: 30px;
  position: relative;
  top: 5px;
}
.app-controller .drivers-container .driver-entry .meta .name {
  display: inline-block;
  font-size: 30px;
  padding: 10px;
  white-space: nowrap;
}
.app-controller .drivers-container .driver-entry .best-lap-time {
  -webkit-animation: "ani_3" 1s ease;
  position: absolute;
  bottom: 25%;
  left: 0;
  padding: 4px 6px;
  border-radius: 5px;
  font-size: 20px;
  border-radius: 100px;
  color: white;
  background: #4CAF50;
}
@-webkit-keyframes "ani_3" {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.app-controller .drivers-container .driver-entry .interesting {
  position: absolute;
  bottom: 80%;
  left: 0;
  padding: 6px 6px;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
  background: #333;
  border-radius: 100px;
}
.app-controller .drivers-container .driver-entry .interesting.close {
  background: #00E676;
  border-radius: 100px;
}
.app-controller .drivers-container .driver-entry .position {
  -webkit-animation: "ani_4" 1s ease;
  position: absolute;
  left: 0;
  color: #fff;
  border-radius: 100px;
  bottom: 50%;
  font-size: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 4px 6px;
}
@-webkit-keyframes "ani_4" {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.app-controller .drivers-container .driver-entry img.livery {
  width: 100%;
  display: block;
  margin: -5% auto;
}
.app-controller .widgets-list,
.app-controller .suggestions {
  position: fixed;
  top: 70px;
  width: 240px;
  color: white;
  bottom: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  background: #263238;
}
.app-controller .widgets-list select,
.app-controller .suggestions select {
  margin: 10px 5%;
  width: 90%;
}
.app-controller .widgets-list .widget-buttons,
.app-controller .suggestions .widget-buttons,
.app-controller .widgets-list .holder,
.app-controller .suggestions .holder {
  position: absolute;
  top: 35px;
  bottom: 5px;
  left: 0;
  right: 0;
  flex-direction: column;
  display: flex;
}
.app-controller .widgets-list .widget-buttons .widget-manager,
.app-controller .suggestions .widget-buttons .widget-manager,
.app-controller .widgets-list .holder .widget-manager,
.app-controller .suggestions .holder .widget-manager,
.app-controller .widgets-list .widget-buttons .suggestion,
.app-controller .suggestions .widget-buttons .suggestion,
.app-controller .widgets-list .holder .suggestion,
.app-controller .suggestions .holder .suggestion {
  flex: auto;
  margin: 5px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  opacity: 1;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  position: relative;
  text-align: center;
  border-top: 5px solid;
  box-shadow: 1px 1px 3px #222222;
}
.app-controller .widgets-list .widget-buttons .widget-manager .text,
.app-controller .suggestions .widget-buttons .widget-manager .text,
.app-controller .widgets-list .holder .widget-manager .text,
.app-controller .suggestions .holder .widget-manager .text,
.app-controller .widgets-list .widget-buttons .suggestion .text,
.app-controller .suggestions .widget-buttons .suggestion .text,
.app-controller .widgets-list .holder .suggestion .text,
.app-controller .suggestions .holder .suggestion .text {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translate(0, -50%);
  padding: 0 10px;
  font-size: 20px;
  line-height: 1.4;
}
.app-controller .widgets-list .widget-buttons .widget-manager:hover,
.app-controller .suggestions .widget-buttons .widget-manager:hover,
.app-controller .widgets-list .holder .widget-manager:hover,
.app-controller .suggestions .holder .widget-manager:hover,
.app-controller .widgets-list .widget-buttons .suggestion:hover,
.app-controller .suggestions .widget-buttons .suggestion:hover,
.app-controller .widgets-list .holder .suggestion:hover,
.app-controller .suggestions .holder .suggestion:hover {
  color: rgba(255, 255, 255, 0.5);
}
.app-controller .widgets-list .widget-buttons .widget-manager.active,
.app-controller .suggestions .widget-buttons .widget-manager.active,
.app-controller .widgets-list .holder .widget-manager.active,
.app-controller .suggestions .holder .widget-manager.active,
.app-controller .widgets-list .widget-buttons .suggestion.active,
.app-controller .suggestions .widget-buttons .suggestion.active,
.app-controller .widgets-list .holder .suggestion.active,
.app-controller .suggestions .holder .suggestion.active {
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.4);
  background: linear-gradient(bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
  background: -moz-linear-gradient(center bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.4) 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0.6)), color-stop(1, rgba(0, 0, 0, 0.4)));
  color: #ffc;
  border-top-color: #4CAF50;
}
.app-controller .widgets-list .widget-buttons .widget-manager.inactive,
.app-controller .suggestions .widget-buttons .widget-manager.inactive,
.app-controller .widgets-list .holder .widget-manager.inactive,
.app-controller .suggestions .holder .widget-manager.inactive,
.app-controller .widgets-list .widget-buttons .suggestion.inactive,
.app-controller .suggestions .widget-buttons .suggestion.inactive,
.app-controller .widgets-list .holder .suggestion.inactive,
.app-controller .suggestions .holder .suggestion.inactive {
  background: rgba(0, 0, 0, 0.4);
  background: linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  background: -moz-linear-gradient(center bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.4) 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0.2)), color-stop(1, rgba(0, 0, 0, 0.4)));
  border-top-color: #F44336;
}
.app-controller .widgets-list .widget-buttons .widget-manager.inactive.warning,
.app-controller .suggestions .widget-buttons .widget-manager.inactive.warning,
.app-controller .widgets-list .holder .widget-manager.inactive.warning,
.app-controller .suggestions .holder .widget-manager.inactive.warning,
.app-controller .widgets-list .widget-buttons .suggestion.inactive.warning,
.app-controller .suggestions .widget-buttons .suggestion.inactive.warning,
.app-controller .widgets-list .holder .suggestion.inactive.warning,
.app-controller .suggestions .holder .suggestion.inactive.warning {
  background: rgba(200, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.45);
}
.app-controller .suggestions {
  left: 0;
}
.app-controller .suggestions .holder {
  display: block;
  top: 10px;
}
.app-controller .suggestions .holder .suggestion {
  text-align: left;
  padding: 10px;
  line-height: 1.4;
  text-transform: capitalize;
  white-space: pre;
  color: #fff;
  font-size: 14px;
}
.app-controller .suggestions .holder .suggestion:hover {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.3);
}
.app-controller .suggestions .holder .suggestion label {
  font-size: 130%;
}
.app-controller .suggestions .holder .suggestion .log {
  padding-left: 5px;
  color: rgba(255, 255, 255, 0.8);
}
.app-controller .widgets-list {
  right: 0;
}
.app-controller .camera-control {
  position: fixed;
  top: 0%;
  left: 0%;
  margin: -50px 0 0 -50px;
  width: 100px;
  height: 100px;
  display: none;
  z-index: 11;
}
.app-controller .camera-control .control {
  width: 150%;
  height: 150%;
  line-height: 150px;
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  text-transform: uppercase;
  position: absolute;
  text-align: center;
  font-size: 30px;
  border-radius: 50%;
}
.app-controller .camera-control .control:hover,
.app-controller .camera-control .control.active {
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
}
.app-controller .camera-control .control.top {
  left: -25%;
  bottom: 100%;
}
.app-controller .camera-control .control.right {
  top: -25%;
  left: 100%;
}
.app-controller .camera-control .control.bottom {
  top: 100%;
  left: -25%;
}
.app-controller .camera-control .control.bottomLeft {
  top: 100%;
  right: 100%;
}
.app-controller .camera-control .control.left {
  top: -25%;
  right: 100%;
}
.app-controller .camera-control .control.center {
  top: -25%;
  left: -25%;
  -webkit-transform: scale(0.6);
}
.app-controller .camera-control .control.bottomLeft {
  top: 100%;
  right: 100%;
}
.track-map-controller-bg {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #222;
  z-index: 1;
}
.track-map-controller {
  position: fixed;
  z-index: 11;
  width: 512px;
  height: 512px;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(2) translate(-50%, -50%);
  -webkit-transform-origin: top left;
}
.track-map-controller .dot {
  position: absolute;
  top: 0;
  font-family: hel;
  left: 0;
  -webkit-transition: -webkit-transform 0.3s linear;
  width: 40px;
  height: 40px;
  font-size: 30px;
  margin: -20px 0 0 -20px;
  font-weight: bold;
  line-height: 38px;
  text-align: center;
  color: #fff;
  border-radius: 100%;
  background: #111;
  border: 2px solid #000;
  cursor: pointer;
  z-index: 2;
}
.track-map-controller .dot.idle {
  opacity: 0.3;
}
.track-map-controller .dot.start {
  z-index: 1;
  background: #aaa;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
}
.track-map-controller .dot.speed-trap {
  z-index: 1;
  background: red;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
}
.track-map-controller .dot .name,
.track-map-controller .dot .speed {
  position: absolute;
  -webkit-transform: translate(-50%, 0);
  font-size: 14px;
  line-height: 1;
  background: rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-family: Inconsolata;
  color: #fff;
  white-space: nowrap;
  border-radius: 5px;
}
.track-map-controller .dot .name {
  bottom: 100%;
  margin: 0 0 5px 0;
}
.track-map-controller .dot .speed {
  margin: 5px 0 0 0;
  top: 100%;
}
.track-map-controller .dot:active {
  opacity: 0.6;
}
.track-map-controller .dot.leader {
  background: green;
  z-index: 3;
}
.track-map-controller .dot.active {
  background: yellow;
  color: #000;
  z-index: 4;
}
@font-face {
  font-family: 'DaimlerCS-Demi';
  font-style: oblique;
  font-weight: 400;
  src: local('DaimlerCS-Demi'), url(/fonts/DaimlerCS-Demi.woff2) format('woff2');
}
@font-face {
  font-family: 'DaimlerCS-ExtraBoldItalic';
  font-style: normal;
  font-weight: 400;
  src: local('DaimlerCS-ExtraBoldItalic'), url(/fonts/DaimlerCS-ExtraBoldItalic.woff2) format('woff2');
}
@font-face {
  font-family: 'DaimlerCS-Light';
  font-style: normal;
  font-weight: 400;
  src: local('DaimlerCS-Light'), url(/fonts/DaimlerCS-Light.woff2) format('woff2');
}
.mercedes .app-spectator {
  font: 14px/1 'DaimlerCS-ExtraBoldItalic', verdana, arial, sans-serif;
}
.app-spectator .camera-fade {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.01;
  -webkit-transition: opacity 0.1s;
}
.app-spectator .camera-fade.active {
  opacity: 1;
}
.app-spectator .pit-window-information {
  -webkit-animation: "ani_5" 0.5s ease, "ani_6" 0.2s ease;
  font-family: Oswald;
  position: fixed;
  top: 120px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  font-size: 30px;
  text-transform: uppercase;
  background: #000000;
  background: linear-gradient(bottom, #111111, #2e2d2d);
  background: -ms-linear-gradient(bottom, #111111, #2e2d2d);
  background: -moz-linear-gradient(center bottom, #111111 0%, #2e2d2d 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #111111), color-stop(1, #2e2d2d));
  border-radius: 5px;
  border: 1px solid #333;
  color: #fff;
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  -webkit-transition: opacity 1s;
}
@-webkit-keyframes "ani_5" {
  0% {
    -webkit-transform: translate(-50%, -200px);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
  }
}
@-webkit-keyframes "ani_6" {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.app-spectator .pit-window-information .closing {
  color: #a00;
}
.app-spectator .pit-window-information.removing {
  opacity: 0;
}
.flat .alert {
  font-family: Oswald;
  position: fixed;
  top: 300px;
  right: 50px;
  text-transform: uppercase;
  border-top: 3px solid #ff5252;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  min-height: 25px;
  width: 300px;
  line-height: 33px;
  text-align: center;
  display: inline-block;
}
.flat .alert.removing {
  opacity: 0;
}
.flat .alert .raceControlAlert {
  font-size: 23px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: rgba(38, 50, 56, 0.8);
  color: white;
}
.flat .alert .alertMessage {
  background: rgba(38, 50, 56, 0.6);
  color: white;
  font-size: 18px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 5px;
}
.flat .compare-race {
  position: fixed;
  bottom: 80px;
  height: 70px;
  left: 0;
  right: 0;
  text-align: center;
}
.flat .compare-race .delta {
  font-size: 20px;
  text-transform: uppercase;
  background: rgba(38, 50, 56, 0.5);
  border-radius: 20px;
  color: white;
  border-top: 3px solid #ff5252;
  padding: 6px 10px;
  min-width: 130px;
  display: inline-block;
  position: relative;
}
.flat .compare-race .delta .battle {
  font-size: 17px;
  text-transform: uppercase;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: white;
  padding: 6px 10px;
  width: inherit;
  position: relative;
  bottom: 4px;
}
.flat .compare-race .delta .inner {
  position: absolute !important;
  top: 10px;
}
.flat .compare-race .delta .inner.first {
  left: auto;
  right: 100%;
  margin-right: 20px;
}
.flat .compare-race .delta .inner.second {
  right: auto;
  left: 100%;
  margin-left: 20px;
}
.flat .compare-race .inner {
  left: 0;
  right: 0;
  text-align: center;
  font-family: Oswald;
  color: #fff;
  /* Hide DRS inactive state on all cars to not show on cars that don't have drs. Height, Font size for inactive is invisible */
  position: absolute !important;
}
.flat .compare-race .inner .inner {
  white-space: nowrap;
  width: auto;
  height: 81px;
  display: inline-block;
  position: relative;
}
.flat .compare-race .inner .extra-info {
  display: none;
}
.flat .compare-race .inner .position,
.flat .compare-race .inner .name,
.flat .compare-race .inner .vehicle,
.flat .compare-race .inner .team,
.flat .compare-race .inner .manufacturer,
.flat .compare-race .inner .flag-container {
  vertical-align: top;
  display: inline-block;
  height: 71px;
  line-height: 75px;
}
.flat .compare-race .inner .best-time {
  font-size: 18px;
  background: rgba(38, 50, 56, 0.5);
  padding: 10px 10px;
  margin-right: 10px;
  border-radius: 15px 15px 0 0;
  color: #69f0ae;
  height: 35px;
  width: 130px;
  z-index: 0;
  margin-bottom: 0px;
  position: absolute;
  left: 150px;
  bottom: 100%;
  -webkit-transition: top 0.5s;
}
.flat .compare-race .inner .position {
  background: rgba(38, 50, 56, 0.5);
  color: white;
  width: 65px;
  font-size: 50px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding-left: 0px;
  line-height: 70px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom: 1px solid #ff5252;
}
.flat .compare-race .inner .name {
  background: rgba(38, 50, 56, 0.8);
  color: white;
  font-size: 30px;
  padding: 0 20px;
  min-width: 320px;
  border-bottom: 1px solid #ff5252;
}
.flat .compare-race .inner .team {
  position: absolute;
  background: rgba(38, 50, 56, 0.5);
  color: white;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  left: 20%;
  right: 13%;
  top: 71px;
  line-height: 30px;
  border: 1px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.flat .compare-race .inner .vehicle {
  background-position: -442px 0;
  width: 36px;
  position: absolute;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.flat .compare-race .inner .vehicle img {
  position: absolute;
  top: -80px;
  left: -170px;
  height: 110px;
}
.flat .compare-race .inner .manufacturer {
  background: white;
  background-position: -442px 0;
  width: 76px;
  position: relative;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 1px solid #ff5252;
}
.flat .compare-race .inner .manufacturer img {
  position: absolute;
  top: 5px;
  left: 8px;
  height: 60px;
}
.flat .compare-race .inner .drs .icon {
  width: 0px;
}
.flat .compare-race .inner .drs.active .icon {
  background: rgba(76, 175, 80, 0.7);
  position: absolute;
  top: -30px;
  left: 15px;
  right: 10px;
  height: 30px;
  line-height: 35px;
  font-family: Oswald;
  font-size: 20px;
  width: 47px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  bottom: 0;
}
.flat .compare-race .inner .ptp .icon {
  width: 0px;
}
.flat .compare-race .inner .ptp.active .icon {
  background: rgba(76, 175, 80, 0.7);
  position: absolute;
  top: -35px;
  left: 10px;
  right: 10px;
  height: 35px;
  line-height: 35px;
  font-family: Oswald;
  font-size: 20px;
  width: 52px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  bottom: 0;
}
.flat .compare-race .inner .flag-container {
  width: 61px;
  background-position: -65px 0;
  position: relative;
  margin-right: 5px;
}
.flat .compare-race .inner .flag-container .flag {
  width: 81px;
  height: 71px;
  display: block;
  content: '';
  width: 80px;
  height: 80px;
  background: #000;
  position: absolute;
  top: -9px;
  left: -5px;
  border-bottom-right-radius: 20%;
  border-top-left-radius: 20%;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.9));
  z-index: 1;
}
.error-screen {
  z-index: 2147483627;
  position: fixed;
  background: #af0000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.error-screen pre {
  position: fixed;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 17px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  line-height: 1.5;
  font-family: Inconsolata;
}
pre.preview {
  background: #000;
  white-space: pre;
  text-align: left;
  font-family: 'Inconsolata';
  padding: 20px;
}
/* Hide DRS inactive state on all cars to not show on cars that don't have drs. Height, Font size for inactive is invisible */
.drs .icon {
  background: rgba(76, 175, 80, 0.2);
  position: absolute;
  top: -10px;
  left: -240px;
  right: 10px;
  height: 1px;
  line-height: 50px;
  font-family: Oswald;
  font-size: 0px;
  width: 1px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  bottom: 0;
}
.drs .text {
  background: rgba(38, 50, 56, 0.8);
  position: absolute;
  top: 40px;
  left: -240px;
  right: 10px;
  height: 1px;
  width: 1px;
  line-height: 50px;
  font-size: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  bottom: 0;
}
.drs.active .icon {
  background: rgba(76, 175, 80, 0.7);
  position: absolute;
  top: -10px;
  left: -240px;
  right: 10px;
  height: 50px;
  line-height: 50px;
  font-family: Oswald;
  font-size: 30px;
  width: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  bottom: 0;
}
.drs.active .text {
  background: rgba(38, 50, 56, 0.8);
  position: absolute;
  top: 40px;
  left: -240px;
  right: 10px;
  height: 50px;
  width: 150px;
  line-height: 50px;
  font-size: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  bottom: 0;
}
.ptp .text {
  background: rgba(38, 50, 56, 0.8);
  position: absolute;
  top: 40px;
  left: -240px;
  right: 10px;
  height: 50px;
  width: 0px;
  line-height: 50px;
  font-size: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  bottom: 0;
}
.ptp .icon {
  background: rgba(183, 28, 28, 0.7);
  position: absolute;
  top: -10px;
  left: -240px;
  right: 10px;
  height: 50px;
  line-height: 50px;
  font-family: Oswald;
  font-size: 0px;
  width: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  bottom: 0;
}
.ptp.active .icon {
  background: rgba(66, 165, 245, 0.7);
  position: absolute;
  top: -10px;
  left: -240px;
  right: 10px;
  height: 50px;
  line-height: 50px;
  font-family: Oswald;
  font-size: 30px;
  width: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  bottom: 0;
}
.ptp.active .text {
  background: rgba(38, 50, 56, 0.8);
  position: absolute;
  top: 40px;
  left: -240px;
  right: 10px;
  height: 50px;
  width: 150px;
  line-height: 50px;
  font-size: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  bottom: 0;
}
.flat .focused-driver-info {
  text-align: center;
  font-family: Oswald;
  color: #fff;
  position: fixed;
  bottom: 70px;
  left: 0;
  right: 0;
}
.flat .focused-driver-info.hide-flags .flag-container {
  display: none;
}
.flat .focused-driver-info .inner {
  height: 71px;
  display: inline-block;
  position: absolute;
  left: 30%;
  bottom: 20%;
}
.flat .focused-driver-info .extra-info {
  position: absolute;
  top: 90px;
  z-index: -1;
  margin-top: 0px;
  font-family: Oswald;
  left: 28%;
}
.flat .focused-driver-info .extra-info ul {
  margin: 0;
  padding: 5px;
}
.flat .focused-driver-info .extra-info ul li {
  font-size: 17px;
  float: left;
  background: rgba(38, 50, 56, 0.8);
  padding: 8px;
  margin-right: 10px;
  border: 1px;
  border-radius: 10px;
  color: white;
  position: relative;
  -webkit-transition: top 0.5s;
}
.flat .focused-driver-info .extra-info ul li.active {
  top: 0;
}
.flat .focused-driver-info .extra-info ul li.finished {
  color: #ffffff;
}
.flat .focused-driver-info .extra-info ul li.finished.personal-best {
  background: linear-gradient(#4caf50, rgba(76, 175, 80, 0.5));
  color: white;
}
.flat .focused-driver-info .extra-info ul li.finished.global-best {
  background: linear-gradient(#9c27b0, rgba(156, 39, 176, 0.5));
  color: white;
}
.flat .focused-driver-info .best-time {
  line-height: 17px;
  font-size: 18px;
  background: rgba(38, 50, 56, 0.8);
  padding: 10px 10px;
  margin-right: 10px;
  border-radius: 15px 15px 0 0;
  color: #00c853;
  height: 35px;
  width: 140px;
  z-index: 0;
  margin-bottom: 0px;
  position: absolute;
  left: 210px;
  bottom: 100%;
  -webkit-transition: top 0.5s;
}
.flat .focused-driver-info .positionInClass {
  line-height: 17px;
  font-size: 18px;
  background: rgba(38, 50, 56, 0.5);
  padding: 10px 10px;
  margin-right: 10px;
  border-radius: 15px 15px 0 0;
  color: white;
  height: 35px;
  width: 140px;
  z-index: 0;
  margin-bottom: 0px;
  position: absolute;
  left: 360px;
  bottom: 100%;
  -webkit-transition: top 0.5s;
}
.flat .focused-driver-info .position,
.flat .focused-driver-info .flag-container,
.flat .focused-driver-info .name,
.flat .focused-driver-info .team,
.flat .focused-driver-info .tyre,
.flat .focused-driver-info .manufacturer,
.flat .focused-driver-info .vehicle {
  vertical-align: top;
  display: inline-block;
  height: 85px;
  line-height: 65px;
}
.flat .focused-driver-info .position {
  background: rgba(38, 50, 56, 0.8);
  color: white;
  width: 100px;
  font-size: 60px;
  text-align: center;
  padding-right: 13px;
  line-height: 80px;
  right: 300px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom: 2px solid #ff5252;
}
.flat .focused-driver-info .name {
  background: rgba(38, 50, 56, 0.8);
  color: white;
  font-size: 30px;
  line-height: 60px;
  text-transform: uppercase;
  padding: 0px 20px;
  min-width: 500px;
  border-bottom: 2px solid #ff5252;
}
.flat .focused-driver-info .team {
  position: absolute;
  color: white;
  font-size: 20px;
  line-height: 60px;
  text-transform: uppercase;
  left: 25%;
  right: 13%;
  top: 35px;
}
.flat .focused-driver-info .vehicle {
  background-position: -442px 0;
  width: 36px;
  position: absolute;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.flat .focused-driver-info .vehicle img {
  position: absolute;
  top: -80px;
  left: -230px;
  height: 110px;
}
.flat .focused-driver-info .tyre {
  background-position: -442px 0;
  width: 36px;
  position: absolute;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.flat .focused-driver-info .tyre img {
  position: absolute;
  top: 15px;
  left: -92px;
  height: 60px;
}
.flat .focused-driver-info .manufacturer {
  background: white;
  background-position: -442px 0;
  width: 76px;
  left: -25px;
  position: relative;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 2px solid #ff5252;
}
.flat .focused-driver-info .manufacturer img {
  position: absolute;
  top: 10px;
  left: 7px;
  height: 62px;
}
.flat .focused-driver-info .class {
  background: rgba(38, 50, 56, 0.5);
  font-size: 35px;
  text-transform: uppercase;
  padding: 0px 20px;
  min-width: 25px;
}
.flat .focused-driver-info .flag-container {
  width: 61px;
  background-position: -65px 0;
  position: relative;
  background: rgba(38, 50, 56, 0.8);
  border-bottom: 2px solid #ff5252;
}
.flat .focused-driver-info .flag-container .flag {
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  top: -15px;
  left: -10px;
  border-bottom-right-radius: 20%;
  border-top-left-radius: 20%;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.9));
}
.flat .logo-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: url(/logoOverlay/flat/logo-overlay.png) no-repeat;
  background-size: contain;
  -webkit-animation: "ani_7" 0.5s ease;
}
@-webkit-keyframes "ani_7" {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.flat .multiclass-standings {
  position: fixed;
  top: 30px;
  font-family: Hel;
  color: #fff;
  left: 40px;
  -webkit-animation: "ani_8" 0.2s ease;
}
.flat .multiclass-standings.hide-flags .driver .flag-container {
  display: none;
}
@-webkit-keyframes "ani_8" {
  0% {
    -webkit-transform: translate(-200px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}
.flat .multiclass-standings .driver {
  -webkit-animation: "ani_9" 0.2s ease;
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.5s linear, left 0.2s linear;
  white-space: nowrap;
}
@-webkit-keyframes "ani_9" {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.flat .multiclass-standings .driver .inner {
  height: 90%;
  position: relative;
  z-index: 11;
}
.flat .multiclass-standings .driver .inner > div {
  vertical-align: top;
  height: 100%;
  line-height: 30px;
}
.flat .multiclass-standings .driver .inner .pitted,
.flat .multiclass-standings .driver .inner .unpitted {
  width: 27px;
  height: 25px;
  position: absolute;
  line-height: 1;
  top: 3px;
  right: 100%;
  margin-right: 5px;
}
.flat .multiclass-standings .driver .inner .pitted:after,
.flat .multiclass-standings .driver .inner .unpitted:after {
  display: block;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  content: "⭗";
  text-align: center;
  line-height: 27px;
}
.flat .multiclass-standings .driver .inner .pitted {
  border: 1px;
  border-bottom-right-radius: 25%;
  border-top-left-radius: 25%;
  background: #66bb6a;
}
.flat .multiclass-standings .driver .inner .unpitted {
  border: 1px;
  border-bottom-right-radius: 25%;
  border-top-left-radius: 25%;
  background: #ff5252;
}
.flat .multiclass-standings .driver .position {
  background: rgba(38, 50, 56, 0.8);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: inline-block;
  color: white;
  font-size: 20px;
  text-align: center;
  width: 40px;
  height: 80%;
  font-family: Oswald;
}
.flat .multiclass-standings .driver .flag-container {
  display: none;
}
.flat .multiclass-standings .driver .manufacturer {
  background: white;
  display: inline-block;
  width: 30px;
  height: 35%;
  padding: 3px;
}
.flat .multiclass-standings .driver .manufacturer img {
  height: 100%;
}
.flat .multiclass-standings .driver .name {
  background-color: #b71c1c;
  font-family: Oswald;
  display: inline-block;
  color: white;
  width: 70px;
  padding-left: 10px;
  font-size: 18px;
  line-height: inherit;
}
.flat .multiclass-standings .driver .meta-info {
  background: rgba(38, 50, 56, 0.5);
  color: white;
  position: absolute;
  font-family: Oswald;
  display: inline-block;
  left: 100%;
  height: 90%;
  text-align: center;
  line-height: 50px;
  font-size: 17px;
  padding: 0 10px 0 10px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  min-width: 95px;
  -webkit-animation: "ani_10" 0.7s ease;
}
@-webkit-keyframes "ani_10" {
  0% {
    -webkit-transform: translate(-100%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}
.flat .multiclass-standings .driver .tyre {
  background: rgba(38, 50, 56, 0.5);
  display: inline-block;
  width: 30px;
  height: 35%;
  padding: 4px;
}
.flat .multiclass-standings .driver .tyre img {
  height: 100%;
}
.race-results .entries-outer {
  max-height: 820px;
  overflow: hidden;
}
.race-results .entries-outer .entries-inner {
  top: 0;
  position: relative;
  -webkit-transition: top 15s linear;
}
.race-results .livery {
  -webkit-transform: translate3d(0, 0, 0);
}
.flat .race-results {
  -webkit-animation: "ani_11" 1s ease, "ani_12" 1s ease;
  position: fixed;
  top: 50%;
  left: 20%;
  right: 20%;
  -webkit-transform: translate(0, -50%);
  z-index: -1;
  padding: 0px;
  color: white;
  white-space: pre;
  font-family: Oswald;
  width: 60%;
}
@-webkit-keyframes "ani_11" {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes "ani_12" {
  0% {
    -webkit-transform: translate(0, 50px);
  }
  100% {
    -webkit-transform: translate(0, -50%);
  }
}
.flat .race-results .title .text {
  position: inherit;
  height: 69px;
  text-align: right;
  padding: 0 15px 0 0;
  line-height: 85px;
  font-size: 30px;
  background: rgba(38, 50, 56, 0.8);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 5px solid #ff5252;
  text-transform: uppercase;
  margin-bottom: 10px;
  z-index: 0;
}
.flat .race-results .title .text .logo {
  position: absolute;
  content: url(results/logos/base.png);
  height: 55px;
  top: 10px;
  left: 20px;
  z-index: 1;
}
.flat .race-results .race-results-entry {
  height: 37px;
  line-height: 37px;
  margin-bottom: 4px;
  font-size: 19px;
  color: white;
  background: rgba(38, 50, 56, 0.9);
  white-space: nowrap;
  overflow: hidden;
}
.flat .race-results .race-results-entry.title {
  padding: 0 0 0 0px;
  font-size: 23px;
}
.flat .race-results .race-results-entry.fastest .fastest-time {
  color: #f500f5;
}
.flat .race-results .race-results-entry > div {
  height: 37px;
  padding: 0 0 0 5px;
  float: left;
}
.flat .race-results .race-results-entry .position {
  text-align: center;
  width: 10%;
  position: relative;
}
.flat .race-results .race-results-entry .classPosition {
  width: 10%;
  position: relative;
  text-align: center;
  color: white;
}
.flat .race-results .race-results-entry .manufacturer {
  width: 5%;
  position: relative;
}
.flat .race-results .race-results-entry .manufacturer img {
  position: absolute;
  top: 7px;
  left: 8px;
  width: 26px;
  height: auto;
}
.flat .race-results .race-results-entry .penaltyTime {
  width: 10%;
  position: relative;
  text-align: center;
}
.flat .race-results .race-results-entry .name {
  position: relative;
}
.flat .race-results .race-results-entry .livery {
  width: 10%;
  position: relative;
}
.flat .race-results .race-results-entry .livery img {
  position: relative;
  height: 60px;
  right: 30px;
  top: -10px;
}
.flat .race-results .race-results-entry .fastest-time,
.flat .race-results .race-results-entry .lap-time {
  width: 10%;
  text-align: center;
  position: relative;
}
.qualify-results .entries-outer {
  max-height: 820px;
  overflow: hidden;
}
.qualify-results .entries-outer .entries-inner {
  top: 0;
  position: relative;
  -webkit-transition: top 15s linear;
}
.qualify-results .livery {
  -webkit-transform: translate3d(0, 0, 0);
}
.flat .qualify-results {
  -webkit-animation: "ani_13" 1s ease, "ani_14" 1s ease;
  position: fixed;
  top: 50%;
  left: 20%;
  right: 20%;
  -webkit-transform: translate(0, -50%);
  z-index: -1;
  padding: 0px;
  color: white;
  white-space: pre;
  font-family: Oswald;
  width: 60%;
}
@-webkit-keyframes "ani_13" {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes "ani_14" {
  0% {
    -webkit-transform: translate(0, 50px);
  }
  100% {
    -webkit-transform: translate(0, -50%);
  }
}
.flat .qualify-results .title .text {
  position: inherit;
  height: 69px;
  text-align: right;
  padding: 0 15px 0 0;
  line-height: 85px;
  font-size: 30px;
  background: rgba(38, 50, 56, 0.8);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 5px solid #ff5252;
  text-transform: uppercase;
  margin-bottom: 10px;
  z-index: 0;
}
.flat .qualify-results .title .text .logo {
  position: absolute;
  content: url(results/logos/base.png);
  height: 55px;
  top: 10px;
  left: 20px;
  z-index: 1;
}
.flat .qualify-results .qualify-results-entry {
  height: 37px;
  line-height: 37px;
  margin-bottom: 4px;
  font-size: 19px;
  color: white;
  background: rgba(38, 50, 56, 0.9);
  white-space: nowrap;
  overflow: hidden;
}
.flat .qualify-results .qualify-results-entry.title {
  padding: 0 0 0 0px;
  font-size: 23px;
}
.flat .qualify-results .qualify-results-entry.fastest {
  color: #f500f5;
}
.flat .qualify-results .qualify-results-entry > div {
  height: 37px;
  padding: 0 0 0 5px;
  float: left;
}
.flat .qualify-results .qualify-results-entry .position {
  text-align: center;
  width: 10%;
  position: relative;
}
.flat .qualify-results .qualify-results-entry .classPosition {
  width: 10%;
  position: relative;
  text-align: center;
  color: white;
}
.flat .qualify-results .qualify-results-entry .manufacturer {
  width: 5%;
  position: relative;
}
.flat .qualify-results .qualify-results-entry .manufacturer img {
  position: absolute;
  top: 7px;
  left: 8px;
  width: 26px;
  height: auto;
}
.flat .qualify-results .qualify-results-entry .name {
  position: relative;
}
.flat .qualify-results .qualify-results-entry .livery {
  width: 15%;
  position: relative;
}
.flat .qualify-results .qualify-results-entry .livery img {
  position: relative;
  height: 60px;
  right: 30px;
  top: -10px;
}
.flat .qualify-results .qualify-results-entry .fastest-time,
.flat .qualify-results .qualify-results-entry .lap-time {
  width: 15%;
  position: relative;
}
.flat .safetyCarDeployed {
  font-family: Oswald;
  position: fixed;
  top: 90px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  font-size: 20px;
  background: rgba(255, 152, 0, 0.7);
  text-transform: uppercase;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
  height: 30px;
  width: 140px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
}
.flat .safetyAlert {
  font-family: Oswald;
  position: fixed;
  top: 200px;
  right: 50px;
  font-size: 23px;
  text-transform: uppercase;
  border-top: 3px solid #ff5252;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  min-height: 25px;
  width: 300px;
  line-height: 33px;
  text-align: center;
  display: inline-block;
}
.flat .safetyAlert .raceControl {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: rgba(38, 50, 56, 0.8);
  color: white;
}
.flat .safetyAlert .safetyCarIn {
  background: rgba(38, 50, 56, 0.6);
  color: white;
  font-size: 18px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.flat .sessionName {
  font-family: Oswald;
  position: fixed;
  top: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  font-size: 21px;
  background: rgba(38, 50, 56, 0.8);
  text-transform: uppercase;
  border-top: 3px solid #ff5252;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: white;
  width: 180px;
  height: 35px;
  padding: 0px 4px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  z-index: 1;
}
.timer {
  font-family: Oswald;
  position: fixed;
  top: 55px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  font-size: 22px;
  background: rgba(38, 50, 56, 0.6);
  text-transform: uppercase;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
  height: 35px;
  width: 180px;
  line-height: 33px;
  text-align: center;
  display: inline-block;
  z-index: 1;
}
.yellowFlag {
  position: fixed;
  background-color: yellow;
  top: 55px;
  left: 870px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 35px;
  width: 180px;
  z-index: 2;
}
.flag img {
  position: absolute;
  top: 33px;
  left: 850px;
  height: 40px;
  width: 40px;
  border-radius: 30px;
  opacity: 1;
  z-index: 3;
  border: 2px solid #ff5252;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
}
.checkered img {
  position: fixed;
  top: 55px;
  left: 870px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 35px;
  width: 180px;
  z-index: 2;
}
.track-map-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-animation: "ani_15" 1s ease;
  z-index: 0;
}
@-webkit-keyframes "ani_15" {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.track-map {
  position: fixed;
  width: 512px;
  height: 512px;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(2) translate(-50%, -50%);
  -webkit-transform-origin: top left;
  opacity: 0;
  -webkit-transition: opacity 1s;
}
.track-map.loaded {
  opacity: 1;
}
.track-map .dot {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.5s linear;
  width: 20px;
  height: 20px;
  font-size: 40px;
  margin: -10px 0 0 -10px;
  font-weight: bold;
  line-height: 43px;
  text-align: center;
  color: #fff;
  border-radius: 100%;
  z-index: 2;
}
.track-map .dot .dot .position .driverName,
.track-map .dot .manufacturer .vehicle {
  vertical-align: top;
  display: inline-block;
  height: 85px;
  line-height: 85px;
}
.track-map .dot .vehicle {
  position: relative;
  left: 50px;
}
.track-map .dot .vehicle img {
  position: absolute;
  top: -190px;
  left: -250px;
  height: 100px;
  width: 0px;
}
.track-map .dot .position {
  position: relative;
  left: -50px;
  width: 50px;
  top: -30px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: white;
  font-size: 23px;
}
.track-map .dot .driverName {
  position: relative;
  top: -73px;
  background-color: rgba(38, 50, 56, 0.8);
  width: 120px;
  font-size: 23px;
}
.track-map .dot .manufacturer {
  position: relative;
  background-color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  left: 110px;
  width: 50px;
  height: 42px;
  top: -115px;
}
.track-map .dot .manufacturer img {
  position: absolute;
  background-color: white;
  top: 5px;
  left: 5px;
  height: 35px;
  width: 35px;
}
.track-map .dot.idle {
  opacity: 0.3;
}
.track-map .dot.start {
  z-index: 1;
  background: #aaa;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
}
.track-map .dot .name {
  position: absolute;
  -webkit-transform: translate(-50%, 0);
  font-size: 14px;
  line-height: 1;
  background: rgba(38, 50, 56, 0.8);
  padding: 5px;
  color: #fff;
  white-space: nowrap;
  border-radius: 5px;
  bottom: 100%;
  margin: 0 0 5px 0;
}
.track-map .dot.leader {
  background: #ff9800;
  color: #ff9800;
  z-index: 1;
}
.track-map .dot.active {
  background: #4caf50;
  color: #4caf50;
  z-index: 2;
}
