/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
div,
span,
input,
a {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -webkit-user-select: none;
}
.event-info-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  -webkit-animation: "ani_NaN" 1s ease;
}
@-webkit-keyframes "ani_NaN" {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.flat .event-info {
  -webkit-animation: "ani_NaN" 1s ease;
  background-color: rgba(38, 50, 56, 0.8);
  position: fixed;
  top: 50%;
  left: 25%;
  right: 25%;
  -webkit-transform: translate(0, -50%);
  z-index: -1;
  padding: 0px;
  color: #fff;
  white-space: pre;
  font-family: Oswald;
  width: 944px;
  border-radius: 10px;
  border-top: 10px solid #ff5252;
  border-bottom: 5px solid #ff5252;
}
@-webkit-keyframes "ani_NaN" {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.flat .event-info .serverName {
  color: white;
  text-align: center;
  font-size: 40px;
  padding: 10px;
}
.flat .event-info .serverTrackName {
  color: white;
  text-align: center;
  font-style: italic;
  font-size: 25px;
  padding: 20px 10px;
}
.flat .event-info .trackImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.flat .event-info .weather .weatherIcons {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 30px;
}
@font-face {
  font-family: 'Hel';
  font-style: normal;
  font-weight: 400;
  src: local('Hel'), local('Hel'), url(/fonts/hel.woff) format('woff');
}
/* ---------------------------------------------------------------------------------------- */
html,
body {
  background: transparent;
  font: 14px/1 Helvetica, verdana, arial, sans-serif;
  color: #000;
}
body {
  padding: 10px;
}
.spectator-app {
  -webkit-animation: "ani_1" 1s ease, "ani_2" 1s ease;
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 20px;
}
@-webkit-keyframes "ani_1" {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes "ani_2" {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ---- Abel ---- */
@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  src: local('Abel'), local('Abel Regular'), local('Abel-Regular'), url(/fonts/Abel.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* ---- Oswald ---- */
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(/fonts/Oswald-cyrilic.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(/fonts/Oswald-lat-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(/fonts/Oswald-lat.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* ---- Inconsolata ---- */
/* latin-ext */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(/fonts/Inconsolata-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(/fonts/Inconsolata-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.app-controller {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #222;
  font-family: Abel;
}
.app-controller .title {
  position: fixed;
  top: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 70px;
  left: 0px;
  right: 0;
  color: #fff;
  padding: 20px;
  font-size: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
  background: rgba(0, 0, 0, 0.4);
  background: linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  background: -moz-linear-gradient(center bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.4) 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0.2)), color-stop(1, rgba(0, 0, 0, 0.4)));
  color: #ffc;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.app-controller .title .toggle-track-map {
  float: right;
  height: 50px;
  margin: -10px 0 0;
}
.app-controller .title .toggle-track-map:hover {
  opacity: 0.8;
  cursor: pointer;
}
.app-controller .title .toggle-track-map:hover:active {
  -webkit-transform: scale(0.9);
}
.app-controller .drivers-container {
  position: fixed;
  top: 100px;
  bottom: 0;
  left: 20px;
  right: 270px;
}
.app-controller .drivers-container.has-suggestions {
  left: 270px;
}
.app-controller .drivers-container .drivers {
  position: absolute;
  top: 50%;
  left: 50%;
}
.app-controller .drivers-container .driver-entry {
  float: left;
  position: relative;
  opacity: 0.4;
  border-left: 5px solid rgba(0, 0, 0, 0);
  margin-right: -5px;
}
.app-controller .drivers-container .driver-entry.focused {
  opacity: 1;
}
.app-controller .drivers-container .driver-entry.idle {
  opacity: 0.05;
}
.app-controller .drivers-container .driver-entry .meta {
  right: 0;
  color: #fff;
  position: absolute;
  bottom: 0;
  text-shadow: 0 0 10px #000;
  -webkit-transform-origin: bottom right;
}
.app-controller .drivers-container .driver-entry .meta .flag {
  height: 30px;
  position: relative;
  top: 5px;
}
.app-controller .drivers-container .driver-entry .meta .name {
  display: inline-block;
  font-size: 30px;
  padding: 10px;
  white-space: nowrap;
}
.app-controller .drivers-container .driver-entry .best-lap-time {
  -webkit-animation: "ani_3" 1s ease;
  position: absolute;
  bottom: 25%;
  left: 0;
  background: #ffffff;
  background: linear-gradient(bottom, #ffff1a, #ffff66);
  background: -ms-linear-gradient(bottom, #ffff1a, #ffff66);
  background: -moz-linear-gradient(center bottom, #ffff1a 0%, #ffff66 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffff1a), color-stop(1, #ffff66));
  padding: 5px;
  border-radius: 5px;
  font-size: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
@-webkit-keyframes "ani_3" {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.app-controller .drivers-container .driver-entry .interesting {
  position: absolute;
  bottom: 75%;
  left: 0;
  padding: 5px;
  border-radius: 5px;
  font-size: 25px;
  color: #fff;
  background: #333;
}
.app-controller .drivers-container .driver-entry .interesting.close {
  background: #ffffff;
  background: linear-gradient(bottom, #009a00, #00e600);
  background: -ms-linear-gradient(bottom, #009a00, #00e600);
  background: -moz-linear-gradient(center bottom, #009a00 0%, #00e600 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #009a00), color-stop(1, #00e600));
}
.app-controller .drivers-container .driver-entry .current-position {
  -webkit-animation: "ani_4" 1s ease;
  position: absolute;
  bottom: 50%;
  left: 0;
  color: #fff;
  background: #ffffff;
  background: linear-gradient(bottom, #0d0d0d, #333333);
  background: -ms-linear-gradient(bottom, #0d0d0d, #333333);
  background: -moz-linear-gradient(center bottom, #0d0d0d 0%, #333333 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0d0d0d), color-stop(1, #333333));
  padding: 5px;
  border-radius: 5px;
  font-size: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
@-webkit-keyframes "ani_4" {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.app-controller .drivers-container .driver-entry .current-position:after {
  content: '.';
}
.app-controller .drivers-container .driver-entry img.livery {
  width: 100%;
  display: block;
  margin: -5% auto;
}
.app-controller .widgets-list,
.app-controller .suggestions {
  position: fixed;
  top: 70px;
  width: 240px;
  background: #444;
  bottom: 0;
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  font-size: 16px;
}
.app-controller .widgets-list select,
.app-controller .suggestions select {
  margin: 10px 5%;
  width: 90%;
}
.app-controller .widgets-list .widget-buttons,
.app-controller .suggestions .widget-buttons,
.app-controller .widgets-list .holder,
.app-controller .suggestions .holder {
  position: absolute;
  top: 35px;
  bottom: 5px;
  left: 0;
  right: 0;
  flex-direction: column;
  display: flex;
}
.app-controller .widgets-list .widget-buttons .widget-manager,
.app-controller .suggestions .widget-buttons .widget-manager,
.app-controller .widgets-list .holder .widget-manager,
.app-controller .suggestions .holder .widget-manager,
.app-controller .widgets-list .widget-buttons .suggestion,
.app-controller .suggestions .widget-buttons .suggestion,
.app-controller .widgets-list .holder .suggestion,
.app-controller .suggestions .holder .suggestion {
  flex: auto;
  margin: 5px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  opacity: 1;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
  color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  position: relative;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.app-controller .widgets-list .widget-buttons .widget-manager .text,
.app-controller .suggestions .widget-buttons .widget-manager .text,
.app-controller .widgets-list .holder .widget-manager .text,
.app-controller .suggestions .holder .widget-manager .text,
.app-controller .widgets-list .widget-buttons .suggestion .text,
.app-controller .suggestions .widget-buttons .suggestion .text,
.app-controller .widgets-list .holder .suggestion .text,
.app-controller .suggestions .holder .suggestion .text {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translate(0, -50%);
  padding: 0 10px;
  font-size: 20px;
  line-height: 1.4;
}
.app-controller .widgets-list .widget-buttons .widget-manager:hover,
.app-controller .suggestions .widget-buttons .widget-manager:hover,
.app-controller .widgets-list .holder .widget-manager:hover,
.app-controller .suggestions .holder .widget-manager:hover,
.app-controller .widgets-list .widget-buttons .suggestion:hover,
.app-controller .suggestions .widget-buttons .suggestion:hover,
.app-controller .widgets-list .holder .suggestion:hover,
.app-controller .suggestions .holder .suggestion:hover {
  color: rgba(255, 255, 255, 0.5);
}
.app-controller .widgets-list .widget-buttons .widget-manager.active,
.app-controller .suggestions .widget-buttons .widget-manager.active,
.app-controller .widgets-list .holder .widget-manager.active,
.app-controller .suggestions .holder .widget-manager.active,
.app-controller .widgets-list .widget-buttons .suggestion.active,
.app-controller .suggestions .widget-buttons .suggestion.active,
.app-controller .widgets-list .holder .suggestion.active,
.app-controller .suggestions .holder .suggestion.active {
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.4);
  background: linear-gradient(bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
  background: -moz-linear-gradient(center bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.4) 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0.6)), color-stop(1, rgba(0, 0, 0, 0.4)));
  color: #ffc;
}
.app-controller .widgets-list .widget-buttons .widget-manager.inactive,
.app-controller .suggestions .widget-buttons .widget-manager.inactive,
.app-controller .widgets-list .holder .widget-manager.inactive,
.app-controller .suggestions .holder .widget-manager.inactive,
.app-controller .widgets-list .widget-buttons .suggestion.inactive,
.app-controller .suggestions .widget-buttons .suggestion.inactive,
.app-controller .widgets-list .holder .suggestion.inactive,
.app-controller .suggestions .holder .suggestion.inactive {
  background: rgba(0, 0, 0, 0.4);
  background: linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  background: -moz-linear-gradient(center bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.4) 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0.2)), color-stop(1, rgba(0, 0, 0, 0.4)));
}
.app-controller .widgets-list .widget-buttons .widget-manager.inactive.warning,
.app-controller .suggestions .widget-buttons .widget-manager.inactive.warning,
.app-controller .widgets-list .holder .widget-manager.inactive.warning,
.app-controller .suggestions .holder .widget-manager.inactive.warning,
.app-controller .widgets-list .widget-buttons .suggestion.inactive.warning,
.app-controller .suggestions .widget-buttons .suggestion.inactive.warning,
.app-controller .widgets-list .holder .suggestion.inactive.warning,
.app-controller .suggestions .holder .suggestion.inactive.warning {
  background: rgba(200, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.45);
}
.app-controller .suggestions {
  left: 0;
}
.app-controller .suggestions .holder {
  display: block;
  top: 10px;
}
.app-controller .suggestions .holder .suggestion {
  text-align: left;
  padding: 10px;
  line-height: 1.4;
  text-transform: capitalize;
  white-space: pre;
  color: #fff;
  font-size: 14px;
}
.app-controller .suggestions .holder .suggestion:hover {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.3);
}
.app-controller .suggestions .holder .suggestion label {
  font-size: 130%;
}
.app-controller .suggestions .holder .suggestion .log {
  padding-left: 5px;
  color: rgba(255, 255, 255, 0.8);
}
.app-controller .widgets-list {
  right: 0;
}
.app-controller .camera-control {
  position: fixed;
  top: 0%;
  left: 0%;
  margin: -50px 0 0 -50px;
  width: 100px;
  height: 100px;
  display: none;
  z-index: 11;
}
.app-controller .camera-control .control {
  width: 150%;
  height: 150%;
  line-height: 150px;
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  text-transform: uppercase;
  position: absolute;
  text-align: center;
  font-size: 30px;
  border-radius: 50%;
}
.app-controller .camera-control .control:hover,
.app-controller .camera-control .control.active {
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
}
.app-controller .camera-control .control.top {
  left: -25%;
  bottom: 100%;
}
.app-controller .camera-control .control.right {
  top: -25%;
  left: 100%;
}
.app-controller .camera-control .control.bottom {
  top: 100%;
  left: -25%;
}
.app-controller .camera-control .control.bottomLeft {
  top: 100%;
  right: 100%;
}
.app-controller .camera-control .control.left {
  top: -25%;
  right: 100%;
}
.app-controller .camera-control .control.center {
  top: -25%;
  left: -25%;
  -webkit-transform: scale(0.6);
}
.app-controller .camera-control .control.bottomLeft {
  top: 100%;
  right: 100%;
}
.track-map-controller-bg {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #222;
  z-index: 1;
}
.track-map-controller {
  position: fixed;
  z-index: 11;
  width: 512px;
  height: 512px;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(2) translate(-50%, -50%);
  -webkit-transform-origin: top left;
}
.track-map-controller .dot {
  position: absolute;
  top: 0;
  font-family: hel;
  left: 0;
  -webkit-transition: -webkit-transform 0.3s linear;
  width: 40px;
  height: 40px;
  font-size: 30px;
  margin: -20px 0 0 -20px;
  font-weight: bold;
  line-height: 38px;
  text-align: center;
  color: #fff;
  border-radius: 100%;
  background: #111;
  border: 2px solid #000;
  cursor: pointer;
  z-index: 2;
}
.track-map-controller .dot.idle {
  opacity: 0.3;
}
.track-map-controller .dot.start {
  z-index: 1;
  background: #aaa;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
}
.track-map-controller .dot.speed-trap {
  z-index: 1;
  background: red;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
}
.track-map-controller .dot .name,
.track-map-controller .dot .speed {
  position: absolute;
  -webkit-transform: translate(-50%, 0);
  font-size: 14px;
  line-height: 1;
  background: rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-family: Inconsolata;
  color: #fff;
  white-space: nowrap;
  border-radius: 5px;
}
.track-map-controller .dot .name {
  bottom: 100%;
  margin: 0 0 5px 0;
}
.track-map-controller .dot .speed {
  margin: 5px 0 0 0;
  top: 100%;
}
.track-map-controller .dot:active {
  opacity: 0.6;
}
.track-map-controller .dot.leader {
  background: green;
  z-index: 3;
}
.track-map-controller .dot.active {
  background: yellow;
  color: #000;
  z-index: 4;
}
@font-face {
  font-family: 'DaimlerCS-Demi';
  font-style: oblique;
  font-weight: 400;
  src: local('DaimlerCS-Demi'), url(/fonts/DaimlerCS-Demi.woff2) format('woff2');
}
@font-face {
  font-family: 'DaimlerCS-ExtraBoldItalic';
  font-style: normal;
  font-weight: 400;
  src: local('DaimlerCS-ExtraBoldItalic'), url(/fonts/DaimlerCS-ExtraBoldItalic.woff2) format('woff2');
}
@font-face {
  font-family: 'DaimlerCS-Light';
  font-style: normal;
  font-weight: 400;
  src: local('DaimlerCS-Light'), url(/fonts/DaimlerCS-Light.woff2) format('woff2');
}
.mercedes .app-spectator {
  font: 14px/1 'DaimlerCS-ExtraBoldItalic', verdana, arial, sans-serif;
}
.app-spectator .camera-fade {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.01;
  -webkit-transition: opacity 0.1s;
}
.app-spectator .camera-fade.active {
  opacity: 1;
}
.app-spectator .pit-window-information {
  -webkit-animation: "ani_5" 0.5s ease, "ani_6" 0.2s ease;
  font-family: Oswald;
  position: fixed;
  top: 120px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  font-size: 30px;
  text-transform: uppercase;
  background: #000000;
  background: linear-gradient(bottom, #111111, #2e2d2d);
  background: -ms-linear-gradient(bottom, #111111, #2e2d2d);
  background: -moz-linear-gradient(center bottom, #111111 0%, #2e2d2d 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #111111), color-stop(1, #2e2d2d));
  border-radius: 5px;
  border: 1px solid #333;
  color: #fff;
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  -webkit-transition: opacity 1s;
}
@-webkit-keyframes "ani_5" {
  0% {
    -webkit-transform: translate(-50%, -200px);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
  }
}
@-webkit-keyframes "ani_6" {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.app-spectator .pit-window-information .closing {
  color: #a00;
}
.app-spectator .pit-window-information.removing {
  opacity: 0;
}
.flat .compare-race {
  -webkit-animation: "ani_7" 0.2s ease, "ani_8" 0.2s ease;
  position: fixed;
  bottom: 80px;
  height: 70px;
  left: 0;
  right: 0;
  text-align: center;
}
@-webkit-keyframes "ani_7" {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes "ani_8" {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.flat .compare-race .delta {
  font-family: Hel;
  font-size: 20px;
  text-transform: uppercase;
  background-color: rgba(38, 50, 56, 0.5);
  border-radius: 20px;
  color: white;
  padding: 5px 10px;
  display: inline-block;
  position: relative;
}
.flat .compare-race .delta .inner {
  position: absolute !important;
  top: 10px;
}
.flat .compare-race .delta .inner.first {
  left: auto;
  right: 100%;
  margin-right: 20px;
}
.flat .compare-race .delta .inner.second {
  right: auto;
  left: 100%;
  margin-left: 20px;
}
.flat .compare-race .inner {
  left: 0;
  right: 0;
  text-align: center;
  font-family: Oswald;
  color: #fff;
  -webkit-animation: "ani_9" 0.5s ease;
  position: absolute !important;
}
@-webkit-keyframes "ani_9" {
  0% {
    -webkit-transform: translate(0, 120px);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}
.flat .compare-race .inner .inner {
  white-space: nowrap;
  width: auto;
  height: 81px;
  display: inline-block;
  position: relative;
}
.flat .compare-race .inner .extra-info {
  display: none;
}
.flat .compare-race .inner .position,
.flat .compare-race .inner .name,
.flat .compare-race .inner .vehicle,
.flat .compare-race .inner .team,
.flat .compare-race .inner .manufacturer,
.flat .compare-race .inner .flag-container {
  vertical-align: top;
  display: inline-block;
  height: 71px;
  line-height: 75px;
}
.flat .compare-race .inner .best-time {
  font-size: 18px;
  background-color: rgba(38, 50, 56, 0.5);
  padding: 10px 10px;
  margin-right: 10px;
  border-radius: 10px 10px 0 0;
  color: white;
  height: 35px;
  width: 130px;
  z-index: 0;
  margin-bottom: 0px;
  position: absolute;
  left: 150px;
  bottom: 100%;
  -webkit-transition: top 0.5s;
}
.flat .compare-race .inner .position {
  background-color: rgba(38, 50, 56, 0.5);
  color: white;
  width: 65px;
  font-size: 50px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding-left: 0px;
  line-height: 70px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom: 1px solid #ff5252;
}
.flat .compare-race .inner .name {
  background-color: rgba(38, 50, 56, 0.5);
  color: white;
  font-size: 30px;
  padding: 0 20px;
  min-width: 320px;
  border-bottom: 1px solid #ff5252;
}
.flat .compare-race .inner .team {
  position: absolute;
  background-color: rgba(38, 50, 56, 0.5);
  color: white;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  left: 20%;
  right: 13%;
  top: 71px;
  line-height: 30px;
  border: 1px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.flat .compare-race .inner .vehicle {
  background-position: -442px 0;
  width: 36px;
  position: absolute;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.flat .compare-race .inner .vehicle img {
  position: absolute;
  top: -80px;
  left: -170px;
  height: 110px;
}
.flat .compare-race .inner .manufacturer {
  background-color: white;
  background-position: -442px 0;
  width: 76px;
  position: relative;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 1px solid #ff5252;
}
.flat .compare-race .inner .manufacturer img {
  position: absolute;
  top: 5px;
  left: 8px;
  height: 60px;
}
.flat .compare-race .inner .drs {
  width: 104px;
  background-position: -518px 0;
  position: relative;
}
.flat .compare-race .inner .drs.active .icon {
  background-image: url(/focusedDriver/flat/drs-on.png);
}
.flat .compare-race .inner .ptp {
  width: 104px;
  background-position: -518px 0;
  position: relative;
}
.flat .compare-race .inner .ptp.active .icon {
  background-image: url(/focusedDriver/tt/ptp-on.png);
}
.flat .compare-race .inner .flag-container {
  width: 61px;
  background-position: -65px 0;
  position: relative;
  margin-right: 5px;
}
.flat .compare-race .inner .flag-container .flag {
  width: 71px;
  height: 61px;
  display: block;
  content: '';
  width: 80px;
  height: 80px;
  background: #000;
  position: absolute;
  top: -9px;
  left: -5px;
  border-bottom-right-radius: 20%;
  border-top-left-radius: 20%;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.9));
}
.flat .damage-check {
  -webkit-animation: "ani_10" 0.5s ease, "ani_11" 0.2s ease;
  font-family: Oswald;
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 30px;
  background-color: rgba(38, 50, 56, 0.8);
  border-radius: 5px;
  border: 1px solid #333;
  color: white;
  padding: 10px 20px;
  display: inline-block;
  transition: width 500ms ease-in-out;
}
@-webkit-keyframes "ani_10" {
  0% {
    -webkit-transform: translate(450px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}
@-webkit-keyframes "ani_11" {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.flat .damage-check .part {
  font-size: 30px;
  padding: 5px 0;
}
.error-screen {
  z-index: 2147483627;
  position: fixed;
  background: #af0000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.error-screen pre {
  position: fixed;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 17px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  line-height: 1.5;
  font-family: Inconsolata;
}
pre.preview {
  background: #000;
  white-space: pre;
  text-align: left;
  font-family: 'Inconsolata';
  padding: 20px;
}
/* Hide DRS inactive state on all cars to not show on cars that don't have drs. Height, Font size for inactive is invisible */
.drs .icon {
  background: rgba(76, 175, 80, 0.2);
  position: absolute;
  top: -10px;
  left: -240px;
  right: 10px;
  height: 1px;
  line-height: 50px;
  font-family: Oswald;
  font-size: 0px;
  width: 1px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  bottom: 0;
}
.drs .text {
  background-color: rgba(38, 50, 56, 0.8);
  position: absolute;
  top: 40px;
  left: -240px;
  right: 10px;
  height: 1px;
  width: 1px;
  line-height: 50px;
  font-size: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  bottom: 0;
}
.drs.active .icon {
  background: rgba(76, 175, 80, 0.7);
  position: absolute;
  top: -10px;
  left: -240px;
  right: 10px;
  height: 50px;
  line-height: 50px;
  font-family: Oswald;
  font-size: 30px;
  width: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  bottom: 0;
}
.drs.active .text {
  background-color: rgba(38, 50, 56, 0.8);
  position: absolute;
  top: 40px;
  left: -240px;
  right: 10px;
  height: 50px;
  width: 150px;
  line-height: 50px;
  font-size: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  bottom: 0;
}
.ptp .text {
  background-color: rgba(38, 50, 56, 0.8);
  position: absolute;
  top: 40px;
  left: -240px;
  right: 10px;
  height: 50px;
  width: 150px;
  line-height: 50px;
  font-size: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  bottom: 0;
}
.ptp .icon {
  background: rgba(183, 28, 28, 0.7);
  position: absolute;
  top: -10px;
  left: -240px;
  right: 10px;
  height: 50px;
  line-height: 50px;
  font-family: Oswald;
  font-size: 30px;
  width: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  bottom: 0;
}
.ptp.active .icon {
  background: rgba(66, 165, 245, 0.7);
  position: absolute;
  top: -10px;
  left: -240px;
  right: 10px;
  height: 50px;
  line-height: 50px;
  font-family: Oswald;
  font-size: 30px;
  width: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  bottom: 0;
}
.ptp.active .text {
  background-color: rgba(38, 50, 56, 0.8);
  position: absolute;
  top: 40px;
  left: -240px;
  right: 10px;
  height: 50px;
  width: 150px;
  line-height: 50px;
  font-size: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  bottom: 0;
}
.flat .focused-driver-info {
  text-align: center;
  font-family: Oswald;
  color: #fff;
  -webkit-animation: "ani_12" 0.3s ease;
  position: fixed;
  bottom: 70px;
  left: 0;
  right: 0;
}
.flat .focused-driver-info.hide-flags .flag-container {
  display: none;
}
@-webkit-keyframes "ani_12" {
  0% {
    -webkit-transform: translate(0, 120px);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}
.flat .focused-driver-info .inner {
  height: 71px;
  display: inline-block;
  position: absolute;
  left: 30%;
  bottom: 20%;
}
.flat .focused-driver-info .extra-info {
  position: absolute;
  top: 90px;
  z-index: -1;
  margin-top: 0px;
  font-family: Arial;
}
.flat .focused-driver-info .extra-info ul {
  margin: 0;
  padding: 5px;
}
.flat .focused-driver-info .extra-info ul li {
  font-size: 17px;
  float: left;
  background: rgba(38, 50, 56, 0.8);
  padding: 8px;
  margin-right: 10px;
  border: 1px;
  border-radius: 10px;
  color: white;
  position: relative;
  left: 30%;
  right: 30%;
  -webkit-transition: top 0.5s;
}
.flat .focused-driver-info .extra-info ul li.active {
  top: 0;
}
.flat .focused-driver-info .extra-info ul li.finished {
  color: #ffffff;
}
.flat .focused-driver-info .extra-info ul li.finished.personal-best {
  color: white;
  background-image: linear-gradient(#4caf50, rgba(76, 175, 80, 0.5));
}
.flat .focused-driver-info .extra-info ul li.finished.global-best {
  background-image: linear-gradient(#9c27b0, rgba(156, 39, 176, 0.5));
  color: white;
}
.flat .focused-driver-info .best-time {
  font-size: 18px;
  background-color: rgba(38, 50, 56, 0.5);
  padding: 10px 10px;
  margin-right: 10px;
  border-radius: 10px 10px 0 0;
  color: white;
  height: 35px;
  width: 140px;
  z-index: 0;
  margin-bottom: 0px;
  position: absolute;
  left: 195px;
  bottom: 100%;
  -webkit-transition: top 0.5s;
}
.flat .focused-driver-info .positionInClass {
  font-size: 18px;
  background-color: rgba(38, 50, 56, 0.5);
  padding: 10px 10px;
  margin-right: 10px;
  border-radius: 10px 10px 0 0;
  color: white;
  height: 35px;
  width: 140px;
  z-index: 0;
  margin-bottom: 0px;
  position: absolute;
  left: 345px;
  bottom: 100%;
  -webkit-transition: top 0.5s;
}
.flat .focused-driver-info .position,
.flat .focused-driver-info .flag-container,
.flat .focused-driver-info .name,
.flat .focused-driver-info .vehicle,
.flat .focused-driver-info .team,
.flat .focused-driver-info .manufacturer {
  vertical-align: top;
  display: inline-block;
  height: 85px;
  line-height: 65px;
}
.flat .focused-driver-info .position {
  background-color: rgba(38, 50, 56, 0.8);
  color: white;
  width: 100px;
  font-size: 60px;
  text-align: center;
  padding-right: 13px;
  line-height: 80px;
  right: 300px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom: 2px solid #ff5252;
}
.flat .focused-driver-info .name {
  background-color: rgba(38, 50, 56, 0.8);
  color: white;
  font-size: 30px;
  line-height: 60px;
  text-transform: uppercase;
  padding: 0px 20px;
  min-width: 500px;
  border-bottom: 2px solid #ff5252;
}
.flat .focused-driver-info .team {
  position: absolute;
  color: white;
  font-size: 20px;
  line-height: 60px;
  text-transform: uppercase;
  left: 25%;
  right: 13%;
  top: 35px;
}
.flat .focused-driver-info .vehicle {
  background-position: -442px 0;
  width: 36px;
  position: absolute;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.flat .focused-driver-info .vehicle img {
  position: absolute;
  top: -82px;
  left: -170px;
  height: 110px;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.9));
}
.flat .focused-driver-info .manufacturer {
  background-color: white;
  background-position: -442px 0;
  width: 76px;
  left: -25px;
  position: relative;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 2px solid #ff5252;
}
.flat .focused-driver-info .manufacturer img {
  position: absolute;
  top: 15px;
  left: 7px;
  height: 62px;
}
.flat .focused-driver-info .class {
  background-color: rgba(38, 50, 56, 0.5);
  font-size: 35px;
  text-transform: uppercase;
  padding: 0px 20px;
  min-width: 25px;
}
.flat .focused-driver-info .flag-container {
  width: 61px;
  background-position: -65px 0;
  position: relative;
  background-color: rgba(38, 50, 56, 0.8);
  border-bottom: 2px solid #ff5252;
}
.flat .focused-driver-info .flag-container .flag {
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  opacity: 0.95;
  top: -15px;
  left: -10px;
  border-bottom-right-radius: 20%;
  border-top-left-radius: 20%;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.9));
}
.flat .logo-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: url(/logoOverlay/flat/logo-overlay.png) no-repeat;
  background-size: contain;
  -webkit-animation: "ani_13" 0.5s ease;
}
@-webkit-keyframes "ani_13" {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.flat .multiclass-standings {
  position: fixed;
  top: 30px;
  font-family: Hel;
  color: #fff;
  left: 40px;
  -webkit-animation: "ani_14" 0.2s ease;
}
.flat .multiclass-standings.hide-flags .driver .flag-container {
  display: none;
}
@-webkit-keyframes "ani_14" {
  0% {
    -webkit-transform: translate(-200px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}
.flat .multiclass-standings .driver {
  -webkit-animation: "ani_15" 0.2s ease;
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.5s linear, left 0.2s linear;
  white-space: nowrap;
}
@-webkit-keyframes "ani_15" {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.flat .multiclass-standings .driver .inner {
  height: 90%;
  position: relative;
  z-index: 11;
}
.flat .multiclass-standings .driver .inner > div {
  vertical-align: top;
  height: 100%;
  line-height: 35px;
}
.flat .multiclass-standings .driver .inner .pitted,
.flat .multiclass-standings .driver .inner .unpitted {
  width: 27px;
  height: 25px;
  position: absolute;
  line-height: 1;
  top: 3px;
  right: 100%;
  margin-right: 5px;
}
.flat .multiclass-standings .driver .inner .pitted:after,
.flat .multiclass-standings .driver .inner .unpitted:after {
  display: block;
  color: white;
  content: "P";
  font-size: 20px;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 27px;
}
.flat .multiclass-standings .driver .inner .pitted {
  border: 1px;
  border-bottom-right-radius: 25%;
  border-top-left-radius: 25%;
  background: rgba(102, 187, 106, 0.8);
}
.flat .multiclass-standings .driver .inner .unpitted {
  border: 1px;
  border-bottom-right-radius: 25%;
  border-top-left-radius: 25%;
  background: rgba(255, 82, 82, 0.8);
}
.flat .multiclass-standings .driver .position {
  background-color: rgba(38, 50, 56, 0.8);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: inline-block;
  color: white;
  font-size: 20px;
  text-align: center;
  width: 40px;
  text-shadow: 0 0 20px #000;
  height: 80%;
}
.flat .multiclass-standings .driver .flag-container {
  display: none;
}
.flat .multiclass-standings .driver .manufacturer {
  background-color: white;
  display: inline-block;
  width: 30px;
  height: 35%;
  padding: 3px;
}
.flat .multiclass-standings .driver .manufacturer img {
  height: 100%;
}
.flat .multiclass-standings .driver .class {
  display: inline-block;
  min-width: 30px;
  font-size: 18px;
  height: 30%;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Hel;
  font-style: italic;
}
.flat .multiclass-standings .driver .name {
  background-color: #b71c1c;
  display: inline-block;
  color: white;
  width: 55px;
  padding-left: 10px;
  font-size: 20px;
  line-height: inherit;
}
.flat .multiclass-standings .driver .meta-info {
  background-color: rgba(38, 50, 56, 0.5);
  color: white;
  position: absolute;
  font-family: Arial;
  font-style: italic;
  display: inline-block;
  left: 100%;
  height: 90%;
  line-height: 50px;
  font-size: 17px;
  padding: 0 15px 0 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  white-space: nowrap;
  -webkit-animation: "ani_16" 0.7s ease;
}
@-webkit-keyframes "ani_16" {
  0% {
    -webkit-transform: translate(-100%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}
.race-results .entries-outer {
  max-height: 820px;
  overflow: hidden;
}
.race-results .entries-outer .entries-inner {
  top: 0;
  position: relative;
  -webkit-transition: top 15s linear;
}
.race-results .livery {
  -webkit-transform: translate3d(0, 0, 0);
}
.flat .race-results {
  -webkit-animation: "ani_17" 1s ease, "ani_18" 1s ease;
  position: fixed;
  top: 50%;
  left: 25%;
  right: 25%;
  -webkit-transform: translate(0, -50%);
  z-index: -1;
  padding: 0px;
  color: #fff;
  white-space: pre;
  font-family: Oswald;
  width: 944px;
}
@-webkit-keyframes "ani_17" {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes "ani_18" {
  0% {
    -webkit-transform: translate(0, 50px);
  }
  100% {
    -webkit-transform: translate(0, -50%);
  }
}
.flat .race-results .title {
  height: 69px;
  text-align: right;
  padding: 0 15px 0 0;
  line-height: 85px;
  font-size: 30px;
  color: white;
  background-color: rgba(38, 50, 56, 0.8);
  text-transform: uppercase;
  margin-bottom: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 5px solid #ff5252;
}
.flat .race-results .race-results-entry {
  height: 37px;
  line-height: 37px;
  margin-bottom: 4px;
  font-size: 20px;
  color: white;
  background-color: rgba(38, 50, 56, 0.8);
  border-bottom: 1px solid #ff5252;
}
.flat .race-results .race-results-entry.title {
  display: none;
}
.flat .race-results .race-results-entry.fastest .fastest-time {
  color: #f500f5;
}
.flat .race-results .race-results-entry > div {
  outline: 1px solid rgba(255, 255, 255, 0);
  float: left;
  height: 37px;
}
.flat .race-results .race-results-entry .position {
  width: 40px;
  font-size: 22px;
  padding: 0 0 0 10px;
}
.flat .race-results .race-results-entry .classPosition {
  width: 100px;
  font-size: 18px;
  text-align: center;
  padding: 0 0 0 10px;
}
.flat .race-results .race-results-entry .manufacturer {
  width: 38px;
  position: relative;
}
.flat .race-results .race-results-entry .manufacturer img {
  position: absolute;
  top: 7px;
  left: 8px;
  width: 26px;
  height: auto;
}
.flat .race-results .race-results-entry .name {
  width: 350px;
  padding: 0 0 0 20px;
}
.flat .race-results .race-results-entry .livery {
  width: 90px;
  position: relative;
}
.flat .race-results .race-results-entry .livery img {
  position: absolute;
  height: 60px;
  top: -10px;
  right: 10px;
}
.flat .race-results .race-results-entry .fastest-time,
.flat .race-results .race-results-entry .lap-time {
  width: 161px;
  padding: 0 0 0 20px;
}
.qualify-results .entries-outer {
  max-height: 820px;
  overflow: hidden;
}
.qualify-results .entries-outer .entries-inner {
  top: 0;
  position: relative;
  -webkit-transition: top 15s linear;
}
.qualify-results .livery {
  -webkit-transform: translate3d(0, 0, 0);
}
.flat .qualify-results {
  -webkit-animation: "ani_19" 1s ease, "ani_20" 1s ease;
  position: fixed;
  top: 50%;
  left: 25%;
  right: 25%;
  -webkit-transform: translate(0, -50%);
  z-index: -1;
  padding: 0px;
  color: #fff;
  white-space: pre;
  font-family: Oswald;
  width: 944px;
}
@-webkit-keyframes "ani_19" {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes "ani_20" {
  0% {
    -webkit-transform: translate(0, 50px);
  }
  100% {
    -webkit-transform: translate(0, -50%);
  }
}
.flat .qualify-results .title {
  height: 69px;
  text-align: right;
  padding: 0 15px 0 0;
  line-height: 85px;
  font-size: 30px;
  background-color: rgba(38, 50, 56, 0.8);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 5px solid #ff5252;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.flat .qualify-results .qualify-results-entry {
  height: 37px;
  line-height: 37px;
  margin-bottom: 4px;
  font-size: 20px;
  background-color: rgba(38, 50, 56, 0.8);
  border-bottom: 1px solid #ff5252;
}
.flat .qualify-results .qualify-results-entry.title {
  display: none;
}
.flat .qualify-results .qualify-results-entry.fastest {
  color: #ffa;
}
.flat .qualify-results .qualify-results-entry > div {
  outline: 1px solid rgba(255, 255, 255, 0);
  float: left;
  height: 37px;
}
.flat .qualify-results .qualify-results-entry .position {
  width: 40px;
  font-size: 22px;
  padding: 0 0 0 10px;
}
.flat .qualify-results .qualify-results-entry .classPosition {
  width: 100px;
  font-size: 18px;
  text-align: center;
  padding: 0 0 0 10px;
}
.flat .qualify-results .qualify-results-entry .manufacturer {
  width: 38px;
  position: relative;
}
.flat .qualify-results .qualify-results-entry .manufacturer img {
  position: absolute;
  top: 7px;
  left: 8px;
  width: 26px;
  height: auto;
}
.flat .qualify-results .qualify-results-entry .name {
  width: 350px;
  padding: 0 0 0 20px;
}
.flat .qualify-results .qualify-results-entry .livery {
  width: 90px;
  position: relative;
}
.flat .qualify-results .qualify-results-entry .livery img {
  position: absolute;
  height: 60px;
  top: -10px;
  right: 10px;
}
.flat .qualify-results .qualify-results-entry .fastest-time,
.flat .qualify-results .qualify-results-entry .lap-time {
  width: 161px;
  padding: 0 0 0 20px;
}
.flat .session-info {
  -webkit-animation: "ani_21" 0.5s ease, "ani_22" 0.2s ease;
  font-family: Oswald;
  position: fixed;
  top: 40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  font-size: 20px;
  background-color: rgba(38, 50, 56, 0.6);
  text-transform: uppercase;
  border-radius: 5px;
  color: white;
  height: 40px;
  padding: 0px 4px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
}
@-webkit-keyframes "ani_21" {
  0% {
    -webkit-transform: translate(-50%, -200px);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
  }
}
@-webkit-keyframes "ani_22" {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.start-grid .entries-outer {
  max-height: 820px;
  overflow: hidden;
}
.start-grid .entries-outer .entries-inner {
  top: 0;
  position: relative;
  -webkit-transition: top 15s linear;
}
.start-grid .livery {
  -webkit-transform: translate3d(0, 0, 0);
}
.flat .start-grid {
  -webkit-animation: "ani_23" 1s ease, "ani_24" 1s ease;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  z-index: -1;
  padding: 0px;
  color: #fff;
  white-space: pre;
  font-family: Oswald;
  width: 620px;
}
@-webkit-keyframes "ani_23" {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes "ani_24" {
  0% {
    -webkit-transform: translate(-50%, 50px);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
  }
}
.flat .start-grid .title {
  height: 69px;
  text-align: right;
  padding: 0 15px 0 0;
  line-height: 85px;
  font-size: 30px;
  color: white;
  background-color: rgba(38, 50, 56, 0.8);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.flat .start-grid .start-grid-entry {
  height: 37px;
  line-height: 37px;
  margin-bottom: 4px;
  font-size: 20px;
  color: white;
  background-color: rgba(38, 50, 56, 0.8);
}
.flat .start-grid .start-grid-entry.title {
  display: none;
}
.flat .start-grid .start-grid-entry.fastest .fastest-time {
  color: #4caf50;
}
.flat .start-grid .start-grid-entry > div {
  outline: 1px solid rgba(255, 255, 255, 0);
  float: left;
  height: 37px;
}
.flat .start-grid .start-grid-entry .position {
  width: 66px;
  padding: 0 0 0 22px;
}
.flat .start-grid .start-grid-entry .manufacturer {
  width: 38px;
  position: relative;
}
.flat .start-grid .start-grid-entry .manufacturer img {
  position: absolute;
  top: 7px;
  left: 8px;
  width: 26px;
  height: auto;
}
.flat .start-grid .start-grid-entry .name {
  width: 425px;
  padding: 0 0 0 20px;
}
.flat .start-grid .start-grid-entry .livery {
  width: 90px;
  position: relative;
}
.flat .start-grid .start-grid-entry .livery img {
  position: absolute;
  height: 60px;
  top: -10px;
  right: 10px;
}
.flat .start-grid .start-grid-entry .fastest-time,
.flat .start-grid .start-grid-entry .lap-time {
  width: 161px;
  padding: 0 0 0 20px;
}
.track-map-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-animation: "ani_25" 1s ease;
}
@-webkit-keyframes "ani_25" {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.track-map {
  position: fixed;
  width: 512px;
  height: 512px;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(2) translate(-50%, -50%);
  -webkit-transform-origin: top left;
  opacity: 0;
  -webkit-transition: opacity 1s;
}
.track-map.loaded {
  opacity: 1;
}
.track-map .dot {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.5s linear;
  width: 20px;
  height: 20px;
  font-size: 40px;
  margin: -10px 0 0 -10px;
  font-weight: bold;
  line-height: 43px;
  text-align: center;
  background: #00e676;
  color: #fff;
  border-radius: 100%;
  z-index: 2;
}
.track-map .dot.idle {
  opacity: 0.3;
}
.track-map .dot.start {
  z-index: 1;
  background: #aaa;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
}
.track-map .dot .name {
  position: absolute;
  -webkit-transform: translate(-50%, 0);
  font-size: 14px;
  line-height: 1;
  background: rgba(38, 50, 56, 0.8);
  padding: 5px;
  color: #fff;
  white-space: nowrap;
  border-radius: 5px;
  bottom: 100%;
  margin: 0 0 5px 0;
}
.track-map .dot.leader {
  background: #ff9800;
  color: #ff9800;
  z-index: 1;
}
.track-map .dot.active {
  background: #4caf50;
  color: #4caf50;
  z-index: 2;
}
