@import '../theme/z';

.safetyCarDeployed {
  font-size: @fontSize;
  font-family: Oswald;
	position: fixed;
	top: 5em;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	background: @SafetyCarDeployedBackground;
	text-transform: uppercase;
  border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	color: @SafetyCarDeployedText;
	height: 1.5em;
	width: 7em;
	line-height: 1.5em;
	text-align: center;
	display: inline-block;
}
