@import '../theme/theme';

.flat .current-standings {
	&.hide-flags {
		.driver .flag-container {
			display: none;
		}
	}

	position: fixed;
	top: 50px;
	font-family: Hel;
	color: #fff;
	left: 40px;
	.onCreation(-webkit-transform, translate(-200px, 0), translate(0, 0), 0.2s);
	.driver {
		.onCreation(opacity, 0, 1, 0.2s);
		position: absolute;
		top: 0;
		left: 0;
		height: 40px;
		z-index: 1;
		-webkit-transition: -webkit-transform 0.5s linear, left 0.2s linear;
		white-space: nowrap;

		.inner {
			height: 90%;
			position: relative;
			z-index: 11;
			& > div {
				vertical-align: top;
				height: 100%;
				line-height: 40px;
			}

			.pitted, .unpitted {
				width: 27px;
				height: 27px;
				position: absolute;
				line-height: 1;
				top: 5px;
				right:100%;
				margin-right: 5px;

				&:after {
					display: block;
					content: "P";
					font-size: 20px;
					font-family: sans-serif;
					width: 100%;
					height: 100%;
					text-align: center;
					line-height: 27px;
				}
			}
			.pitted {
				border: 1px;
				border-bottom-right-radius: 25%;
				border-top-left-radius: 25%;
				background: rgb(0, 200, 83);
			}
			.unpitted {
				border: 1px;
				border-bottom-right-radius: 25%;
				border-top-left-radius: 25%;
				background: rgb(183, 28, 28);
			}
		}
		.position {
			background-color: @background1;
			border-left: 1px solid rgba(255, 255, 255, 0.1);
			border-top-left-radius: 8px;
			border-bottom-left-radius: 8px;
			display: inline-block;
			color: #fff;
			font-size: 20px;
			text-align: center;
			width: 40px;
			text-shadow: 0 0 20px #000;
			height: 80%;

		}
		.flag-container {
			display: none;
		}
		.manufacturer {
			background-color: white;
			display: inline-block;
			width: 35px;
			height: 30%;
			padding: 3px;

			img {
				height: 100%;
			}
		}
		.class {
			display: inline-block;
			min-width: 30px;
			font-size: 18px;
			height: 30%;
			padding-left: 10px;
			padding-right: 10px;
			font-family: Hel;
			font-style: italic;
		}
		.name {
			background-color: rgb(183, 28, 28);
			display: inline-block;
			color: #fff;
			width: 55px;
			padding-left: 10px;
			font-size: 20px;
		}
		.meta-info {
			background-color: @background2;
			position: absolute;
			font-family: Arial;
			font-style: italic;
			left: 100%;
			height: 90%;
			line-height: 37px;
			font-size: 17px;
			padding: 0 15px 0 10px;
			border-left: 1px solid rgba(255, 255, 255, 0.1);
			border-top-right-radius: 8px;
			border-bottom-right-radius: 8px;
			white-space: nowrap;
			.onCreation(-webkit-transform, translate(-100%, 0), translate(0, 0), 0.7s);
		}
	}
}
