@import '../theme/Ω';

.multiclass-standings {
	&.hide-flags {
		.driver .flag-container {
			display: none;
		}
	}
	font-family: @fontSize;
	position: fixed;
	top: 1em;
	font-family: Hel;
	color: #fff;
	left: 2em;
	.onCreation(-webkit-transform, translate(-10em, 0), translate(0, 0), 0.2s);
	.driver {
		font-size: @fontSize;
		.onCreation(opacity, 0, 1, 0.2s);
		position: absolute;
		top: 0;
		left: 1.3em;
		height: 2em;
		z-index: 1;
		-webkit-transition: -webkit-transform 0.5s linear, left 0.2s linear;
		white-space: nowrap;

		.inner {
			height: 1.8em;
			position: relative;
			z-index: 1;
			& > div {
				vertical-align: top;
				height: 100%;
				line-height: 1.5em;
			}

			.pitted, .unpitted {
				font-size: @fontSize;
				width: 1.5em;
				height: 1.5em;
				position: absolute;
				top: 0.1em;
				right: 100%;
				line-height: 1.8em;
				margin-right: 0.25em;
				&:after {
					font-size: @fontSize * 1.3;
					display: block;
					color: @StandingsTimingPitText;
					content: "⭗";
					text-align: center;
					line-height: 1.2em;
				}
			}
			.pitted {
				border: 1px;
				border-radius: 1em;
				background: @StandingsTimingBackgroundPitted;
			}
			.unpitted {
				border: 1px;
				border-radius: 1em;
				background: @StandingsTimingBackgroundUnpitted;
			}
		}
		.position {
			font-size: @fontSize;
			background: @StandingsPositionBackground;
			border-top-left-radius: 0.5em;
			border-bottom-left-radius: 0.5em;
			display: inline-block;
			color: @StandingsPositionText;
			font-size: 1em;
			text-align: center;
			width: 2em;
			height: 80%;
			font-family: Oswald;
		}
		.flag-container {
			display: none;
		}
		.manufacturer {
			background: @StandingsManufacturerBackground;
			display: inline-block;
			width: 2em;
			height: 2em;
			padding: 0.25em;
			img {
				height: 100%;
			}
		}
		.name {
			font-size: @fontSize;
			background-color: rgb(183, 28, 28);
			font-family: Oswald;
			display: inline-block;
			color: @StandingsDriverNameText;
			background: @StandingsDriverNameClassColour;
			width: 4em;
			padding-left: 0.5em;
			padding-right: 0.5em;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			line-height: inherit;
		}
		.meta-info {
			font-size: @fontSize;
			background: @StandingsTimingBackground;
			color: @StandingsTimingText;
			position: absolute;
			font-family: Oswald;
			display: inline-block;
			left: 100%;
			height: 90%;
			text-align: center;
			line-height: 2.5em;
			padding: 0 0.5em 0 0.5em;
			border-top-right-radius: 0.5em;
			border-bottom-right-radius: 0.5em;
			min-width: 6em;
			.onCreation(-webkit-transform, translate(-100%, 0), translate(0, 0), 0.7s);
		}
	}
}
