// Audi Theme
@widgetBorder: rgba(255, 82, 82, 1.0);
@backgroundDark: rgba(38, 50, 56, 0.8);
@backgroundLight: rgba(38, 50, 56, 0.5);

// Alert Widget
@AlertTitleBackgroundColor: #323433;
@AlertTitleBorderTop: #ba1d0d;
@AlertTitleText: white;
@AlertMessageBackground: white;
@AlertMessageText: #323433;

// Safety Car Deployed Widget
@SafetyCarDeployedBackground: rgba(255, 152, 0, 0.7);
@SafetyCarDeployedText: white;

// Safety Car In Widget
@SafetyCarInTitleBackgroundColor: #323433;
@SafetyCarInTitleBorderTop: #ba1d0d;
@SafetyCarInTitleText: white;
@SafetyCarInMessageBackground: white;
@SafetyCarInMessageText: #323433;

// Damage Check Widget
@DamageCheckBackground: rgba(0, 0, 0, 0.6);
@DamageCheckText: white;

// Multiclass Standings Widget
@StandingsPositionBackground: #323433;
@StandingsPositionText: white;
@StandingsManufacturerBackground: white;
@StandingsDriverNameText: white;
@StandingsTimingBackground: #323433;
@StandingsTimingText: white;
@StandingsTimingBackgroundPitted: rgba(102, 187, 106, 1);
@StandingsTimingBackgroundUnpitted: rgba(255, 82, 82, 1);
@StandingsTimingPitText: white;
@StandingsTyreBackground: rgba(38, 50, 56, 0.5);

// Compare Drivers Widget
@CompareRaceBestTimeText: #00C853;
@CompareRaceBestTimeBackground: #323433;
@CompareRacePositionBackground: #323433;
@CompareRacePositionText: white;
@CompareRacePositionBorder: #ba1d0d;
@CompareRaceNameBackground: white;
@CompareRaceNameText: #323433;
@CompareRaceNameBorder: #ba1d0d;
@CompareRaceTeamNameBackground: #323433;
@CompareRaceTeamNameText: white;
@CompareRaceManufacturerBackground: white;
@CompareRaceManufacturerBorder: #ba1d0d;
@CompareRaceDeltaBackground: rgba(0, 0, 0, 0.6);
@CompareRaceDeltaText: white;
@CompareRaceDeltaDeltaBorder: #ba1d0d;
@CompareRaceDRSActiveBackground: rgba(76, 175, 80, 0.7);

// Starting Grid Widget
@StartingGridTitleColour: white;
@StartingGridTitleBackground: linear-gradient(186deg, rgba(0, 0, 0, 0.8),rgba(125, 125, 125, 0.8), rgba(199, 0, 0, 0.3));
@StartingGridTitleBorderTop: white;
@StartingGridEntryColour: white;
@StartingGridEntryBackground: rgba(0, 0, 0, 0.7);
@StartingGridFastestTime: rgba(76, 175, 80,1.0);

// Driver Info Widget
@DriverInfoNameBorder: #ba1d0d;
@DriverInfoNameBackground: white;
@DriverInfoNameText: #323433;
@DriverInfoTeamNameText: #ba1d0d;
@DriverInfoPositionBorder: #ba1d0d;
@DriverInfoPositionBackground: #323433;
@DriverInfoPositionText: white;
@DriverInfoPositionClassBackground: rgba(38, 50, 56, 0.5);
@DriverInfoPositionClassText: white;
@DriverInfoBestTimeBackground: #323433;
@DriverInfoBestTimeText: #00C853;
@DriverInfoSplitTimesBackground: rgba(38, 50, 56, 0.8);
@DriverInfoManufacturerBorder: #ba1d0d;
@DriverInfoManufacturerBackground: white;
@DriverInfoClassBackground: rgba(38, 50, 56, 0.5);
@DriverInfoFlagBackground: rgba(38, 50, 56, 0.8);
@DriverInfoFlagBorder: rgba(255, 82, 82, 1.0);
@DriverInfoDrsActiveBackground: rgba(76, 175, 80, 0.7);
@DriverInfoDrsRemainingBackground: rgba(38, 50, 56, 0.8);
@DriverInfoPersonalBestSplitBackground: linear-gradient(rgba(76, 175, 80,1.0), rgba(76, 175, 80, 0.5));
@DriverInfoGlobalBestSplitBackground: linear-gradient(rgba(156, 39, 176,1.0), rgba(156, 39, 176, 0.5));
@DriverInfoPersonalBestSplitText: white;
@DriverInfoGlobalBestSplitText: white;

// Event Info Widget
@EventInfoPanelBackground: white;
@EventInfoBorderTop: #ba1d0d;
@EventInfoBorderBottom: #ba1d0d;
@EventInfoServerNameText: #323433;
@EventInfoServerTrackNameText: #323433;
@EventInfoWeatherText: #323433;
@EventInfoDescriptionText: #323433;

// Race Result Widget
@RaceResultTitleBackground: #323433;
@RaceResultTitleTextColor: white;
@RaceResultTitleBorderTop: #ba1d0d;
@RaceResultEntryBackground: #323433;
@RaceResultEntryTextColor: white;
@RaceResultTitleLogo: url(results/logos/audi.png);

// Qualyfying Results Widget
@QualiResultTitleBackground: #323433;
@QualiResultTitleBorderTop: #ba1d0d;
@QualiResultEntryBackground:#323433;
@QualiResultEntryTextColor: white;
@QualiResultTitleText: white;
@QualiResultTitleLogo: url(results/logos/audi.png);

// Session Info Widget
@SessionInfoPhaseBackground: #323433;
@SessionInfoPhaseBorderTop: #ba1d0d;
@SessionInfoPhaseTextColor: white;
@SessionInfoTimerTextColor: #323433;;
@SessionInfoTimerBackground: white;

// Trackmap Widget
@TrackMapOverlayBackground: rgba(0, 0, 0, 0.7);
@TrackMapLeaderDotBackground: rgba(255, 152, 0,1.0);
@TrackMapLeaderDotText: rgba(255, 152, 0,1.0);
@TrackMapSelectedDriverBackground: rgba(76, 175, 80, 1.0);
@TrackMapSelectedDriverText: rgba(76, 175, 80, 1.0);
@TrackMapDriverPositionText: white;
@TrackMapDriverNameBackground: rgba(38, 50, 56, 0.8);
@TrackMapManufacturerBackground: white;
