// Avia eRacing Theme
@widgetBorder: rgba(255, 82, 82, 1.0);
@backgroundDark: rgba(38, 50, 56, 0.8);
@backgroundLight: rgba(38, 50, 56, 0.5);

// Alert Widget
@AlertTitleBackgroundColor: linear-gradient(386deg, rgba(237,28,36, 1), rgba(237,28,36, 0.7));
@AlertTitleBorderTop: rgb(240, 204, 58);
@AlertTitleText: white;
@AlertMessageBackground: white;
@AlertMessageText: #323433;

// Safety Car Deployed Widget
@SafetyCarDeployedBackground: rgba(255, 152, 0, 0.7);
@SafetyCarDeployedText: white;

// Safety Car In Widget
@SafetyCarInTitleBackgroundColor: linear-gradient(386deg, rgba(237,28,36, 1), rgba(237,28,36, 0.7));
@SafetyCarInTitleBorderTop: rgb(240, 204, 58);
@SafetyCarInTitleText: white;
@SafetyCarInMessageBackground: white;
@SafetyCarInMessageText: #323433;

// Damage Check Widget
@DamageCheckBackground: rgba(0, 0, 0, 0.6);
@DamageCheckText: white;

// Multiclass Standings Widget
@StandingsPositionBackground: linear-gradient(386deg, rgba(237,28,36, 1), rgba(237,28,36, 0.7));
@StandingsPositionText: white;
@StandingsManufacturerBackground: white;
@StandingsDriverNameText: white;
@StandingsTimingBackground: linear-gradient(186deg, rgba(297,28,36, 1), rgba(237,28,36, 0.5));
@StandingsTimingText: white;
@StandingsTimingBackgroundPitted: linear-gradient(386deg, rgba(237,28,36, 1), rgba(237,28,36, 0.7));
@StandingsTimingBackgroundUnpitted: linear-gradient(386deg, rgba(237,28,36, 1), rgba(237,28,36, 0.7));
@StandingsTimingPitText: white;
@StandingsTyreBackground: rgba(38, 50, 56, 0.5);

// Compare Drivers Widget
@CompareRaceBestTimeText: white;
@CompareRaceBestTimeBackground: linear-gradient(386deg, rgba(14,175,88, 1), rgba(14,175,88, 0.7));
@CompareRacePositionBackground: linear-gradient(386deg, rgba(237,28,36, 1), rgba(237,28,36, 0.7));
@CompareRacePositionText: white;
@CompareRacePositionBorder: rgb(240, 204, 58);
@CompareRaceNameBackground: white;
@CompareRaceNameText: #323433;
@CompareRaceNameBorder: rgb(240, 204, 58);
@CompareRaceTeamNameBackground: linear-gradient(386deg, rgba(237,28,36, 1), rgba(237,28,36, 0.7));
@CompareRaceTeamNameText: white;
@CompareRaceManufacturerBackground: white;
@CompareRaceManufacturerBorder: rgb(240, 204, 58);
@CompareRaceDeltaBackground: rgba(0, 0, 0, 0.6);
@CompareRaceDeltaText: white;
@CompareRaceDeltaDeltaBorder: rgb(240, 204, 58);
@CompareRaceDRSActiveBackground: rgba(76, 175, 80, 0.7);

// Starting Grid Widget
@StartingGridTitleColour: white;
@StartingGridTitleBackground: linear-gradient(186deg, rgba(0, 0, 0, 0.8),rgba(125, 125, 125, 0.8), rgba(199, 0, 0, 0.3));
@StartingGridTitleBorderTop: white;
@StartingGridEntryColour: white;
@StartingGridEntryBackground: rgba(0, 0, 0, 0.7);
@StartingGridFastestTime: rgba(76, 175, 80,1.0);

// Driver Info Widget
@DriverInfoNameBorder: #ed1c24;
@DriverInfoNameBackground: white;
@DriverInfoNameText: #323433;
@DriverInfoTeamNameText: #ed1c24;
@DriverInfoPositionBorder: rgb(240, 204, 58);
@DriverInfoPositionBackground: linear-gradient(386deg, rgba(237,28,36, 1), rgba(237,28,36, 0.7));
@DriverInfoPositionText: white;
@DriverInfoPositionClassBackground: rgba(38, 50, 56, 0.5);
@DriverInfoPositionClassText: white;
@DriverInfoBestTimeBackground: linear-gradient(386deg, rgba(14,175,88, 1), rgba(14,175,88, 0.7));
@DriverInfoBestTimeText: white;
@DriverInfoSplitTimesBackground: rgba(38, 50, 56, 0.8);
@DriverInfoManufacturerBorder: #ed1c24;
@DriverInfoManufacturerBackground: white;
@DriverInfoClassBackground: rgba(38, 50, 56, 0.5);
@DriverInfoFlagBackground: rgba(38, 50, 56, 0.8);
@DriverInfoFlagBorder: rgba(255, 82, 82, 1.0);
@DriverInfoDrsActiveBackground: rgba(76, 175, 80, 0.7);
@DriverInfoDrsRemainingBackground: rgba(38, 50, 56, 0.8);
@DriverInfoPersonalBestSplitBackground: linear-gradient(rgba(76, 175, 80,1.0), rgba(76, 175, 80, 0.5));
@DriverInfoGlobalBestSplitBackground: linear-gradient(rgba(156, 39, 176,1.0), rgba(156, 39, 176, 0.5));
@DriverInfoPersonalBestSplitText: white;
@DriverInfoGlobalBestSplitText: white;

// Event Info Widget
@EventInfoPanelBackground: white;
@EventInfoBorderTop: #ed1c24;
@EventInfoBorderBottom: rgb(240, 204, 58);
@EventInfoServerNameText: #323433;
@EventInfoServerTrackNameText: #323433;
@EventInfoWeatherText: #323433;
@EventInfoDescriptionText: #323433;

// Race Result Widget
@RaceResultTitleBackground: white;
@RaceResultTitleTextColor: #ed1c24;
@RaceResultTitleBorderTop: #ed1c24;
@RaceResultEntryBackground: white;
@RaceResultEntryTextColor: #323433;
@RaceResultTitleLogo: url(results/logos/avia.png);

// Qualyfying Results Widget
@QualiResultTitleBackground: white;
@QualiResultTitleBorderTop: #ed1c24;
@QualiResultEntryBackground: white;
@QualiResultEntryTextColor: #323433;
@QualiResultTitleText: #ed1c24;
@QualiResultTitleLogo: url(results/logos/avia.png);

// Session Info Widget
@SessionInfoPhaseBackground: linear-gradient(386deg, rgba(237,28,36, 1), rgba(237,28,36, 0.7));
@SessionInfoPhaseBorderTop: rgb(240, 204, 58);
@SessionInfoPhaseTextColor: white;
@SessionInfoTimerTextColor: #323433;
@SessionInfoTimerBackground: white;

// Trackmap Widget
@TrackMapOverlayBackground: rgba(0, 0, 0, 0.7);
@TrackMapLeaderDotBackground: rgba(255, 152, 0,1.0);
@TrackMapLeaderDotText: rgba(255, 152, 0,1.0);
@TrackMapSelectedDriverBackground: rgba(76, 175, 80, 1.0);
@TrackMapSelectedDriverText: rgba(76, 175, 80, 1.0);
@TrackMapDriverPositionText: white;
@TrackMapDriverNameBackground: rgba(38, 50, 56, 0.8);
@TrackMapManufacturerBackground: white;
