@import '../resolutionScaler.less';

// KTM Theme
@widgetBorder: rgba(255, 82, 82, 1.0);
@backgroundDark: rgba(38, 50, 56, 0.8);
@backgroundLight: rgba(38, 50, 56, 0.5);

// resolution scaling
@fontSize: @resolutionScale;

// Alert Widget
@AlertTitleBackgroundColor: rgb(235, 92, 35);
@AlertTitleBorderTop: rgb(235, 92, 35);
@AlertTitleText: white;
@AlertMessageBackground: rgba(38, 50, 56, 0.9);
@AlertMessageText: white;

// Safety Car Deployed Widget
@SafetyCarDeployedBackground: rgba(255, 152, 0, 0.7);
@SafetyCarDeployedText: white;

// Safety Car In Widget
@SafetyCarInTitleBackgroundColor: rgb(235, 92, 35);
@SafetyCarInTitleBorderTop: rgb(235, 92, 35);
@SafetyCarInTitleText: white;
@SafetyCarInMessageBackground: rgba(38, 50, 56, 0.9);
@SafetyCarInMessageText: white;

// Multiclass Standings Widget
@StandingsPositionBackground: rgb(235, 92, 35);
@StandingsPositionText: white;
@StandingsManufacturerBackground: rgb(235, 92, 35);
@StandingsDriverNameText: white;
@StandingsDriverNameClassColour: rgb(235, 92, 35);
@StandingsTimingBackground: rgba(38, 50, 56, 0.9);
@StandingsTimingText: white;
@StandingsTimingBackgroundPitted: linear-gradient(135deg, rgba(0, 200, 83, 0.7) 10%, rgba(0, 200, 83, 0.5) 90%);
@StandingsTimingBackgroundUnpitted: rgba(226, 29, 56, 1);
@StandingsTimingPitText: white;
@StandingsTyreBackground: rgba(38, 50, 56, 0.5);

// Compare Drivers Widget
@CompareRaceBestTimeText: white;
@CompareRaceBestTimeBackground: linear-gradient(135deg, rgba(0, 200, 83, 0.7) 10%, rgba(0, 200, 83, 0.5) 90%);
@CompareRacePositionBackground: rgb(235, 92, 35);
@CompareRacePositionText: white;
@CompareRacePositionBorder: rgb(235, 92, 35);
@CompareRaceNameBackground: rgb(235, 92, 35);
@CompareRaceNameText: white;
@CompareRaceNameBorder: rgb(235, 92, 35);
@CompareRaceTeamNameBackground: rgba(38, 50, 56, 0.9);
@CompareRaceTeamNameText: white;
@CompareRaceManufacturerBackground: rgb(235, 92, 35);
@CompareRaceManufacturerBorder: rgb(235, 92, 35);
@CompareRaceDeltaBackground: rgba(38, 50, 56, 0.8);
@CompareRaceDeltaText: white;
@CompareRaceDeltaDeltaBorder: rgb(235, 92, 35);
@CompareRaceDRSActiveBackground: rgba(76, 175, 80, 0.7);
@CompareRaceSpeedBackground: #FF9800;
@CompareRaceSpeedText: black;

// Driver Info Widget
@DriverInfoNameBorder: rgb(235, 92, 35);
@DriverInfoNameBackground: rgba(38, 50, 56, 0.9);
@DriverInfoNameText: white;
@DriverInfoTeamNameText: rgb(235, 92, 35);
@DriverInfoPositionBorder: rgb(235, 92, 35);
@DriverInfoPositionBackground: rgb(235, 92, 35);
@DriverInfoPositionText: white;
@DriverInfoPositionClassBackground: rgba(38, 50, 56, 0.5);
@DriverInfoPositionClassText: white;
@DriverInfoBestTimeBackground: linear-gradient(135deg, rgba(0, 200, 83, 0.7) 10%, rgba(0, 200, 83, 0.5) 90%);
@DriverInfoBestTimeText: white;
@DriverInfoSplitTimesBackground: rgba(38, 50, 56, 0.8);
@DriverInfoManufacturerBorder: rgb(235, 92, 35);
@DriverInfoManufacturerBackground: rgb(235, 92, 35);
@DriverInfoClassBackground: rgba(38, 50, 56, 0.5);
@DriverInfoFlagBackground: rgba(38, 50, 56, 0.8);
@DriverInfoFlagBorder: rgba(255, 82, 82, 1.0);
@DriverInfoDrsActiveBackground: rgba(76, 175, 80, 0.7);
@DriverInfoDrsRemainingBackground: rgba(38, 50, 56, 0.8);
@DriverInfoPersonalBestSplitBackground: linear-gradient(135deg, rgba(0, 200, 83, 0.7) 10%, rgba(0, 200, 83, 0.5) 90%);
@DriverInfoGlobalBestSplitBackground: linear-gradient(135deg, rgba(156, 39, 176, 0.9) 10%, rgba(156, 39, 176, 0.7) 90%);
@DriverInfoPersonalBestSplitText: white;
@DriverInfoGlobalBestSplitText: white;

// Event Info Widget
@EventInfoPanelBackground: rgba(38, 50, 56, 0.9);
@EventInfoBorderTop: rgb(235, 92, 35);
@EventInfoBorderBottom: rgb(235, 92, 35);
@EventInfoServerNameText: white;
@EventInfoServerTrackNameText: rgb(235, 92, 35);
@EventInfoWeatherText: white;
@EventInfoDescriptionText: white;

// Race Result Widget
@RaceResultTitleBackground: rgba(38, 50, 56, 0.8);
@RaceResultTitleTextColor: white;
@RaceResultTitleBorderTop: rgb(235, 92, 35);
@RaceResultEntryBackground: rgba(38, 50, 56, 0.8);
@RaceResultEntryBorderBottom: rgb(235, 92, 35);
@RaceResultEntryTextColor: white;
@RaceResultTitleLogo: url(results/logos/ktm.png);
@RaceResultWinnerBackground: linear-gradient(80deg, rgba(38, 50, 56, 0) 10%, rgba(235, 92, 35, 0.8) 90%);
@RaceResultFastestLapBackground: linear-gradient(240deg, rgba(38, 50, 56, 0.0) 10%, rgba(113,34,154,1) 90%);

// Qualyfying Results Widget
@QualiResultTitleBackground: rgba(38, 50, 56, 0.9);
@QualiResultTitleBorderTop: rgb(235, 92, 35);
@QualiResultEntryBackground: rgba(38, 50, 56, 0.9);
@QualiResultEntryBorderBottom: rgb(235, 92, 35);
@QualiResultEntryTextColor: white;
@QualiResultTitleText: white;
@QualiResultTitleLogo: url(results/logos/ktm.png);

// Session Info Widget
@SessionInfoPhaseBackground: rgb(235, 92, 35);
@SessionInfoPhaseBorderTop: rgb(235, 92, 35);
@SessionInfoPhaseTextColor: white;
@SessionInfoTimerTextColor: white;
@SessionInfoTimerBackground: rgba(38, 50, 56, 0.9);

// Trackmap Widget
@TrackMapOverlayBackground: rgba(0, 0, 0, 0.7);
@TrackMapLeaderDotBackground: rgba(255, 152, 0,1.0);
@TrackMapLeaderDotText: rgba(255, 152, 0,1.0);
@TrackMapSelectedDriverBackground: rgba(76, 175, 80, 1.0);
@TrackMapSelectedDriverText: rgba(76, 175, 80, 1.0);
@TrackMapDriverPositionText: white;
@TrackMapDriverNameBackground: rgba(38, 50, 56, 0.8);
@TrackMapManufacturerBackground: white;
