// Mercedes Theme
@widgetBorder: rgba(255, 82, 82, 1.0);
@backgroundDark: rgba(38, 50, 56, 0.8);
@backgroundLight: rgba(38, 50, 56, 0.5);

// Damage Check Widget
@DamageCheckBackground: linear-gradient(190deg, rgba(0, 45, 68, 0.6), rgba(0, 188, 212, 0.6));
@DamageCheckText: white;

// Multiclass Standings Widget
@StandingsPositionBackground: linear-gradient(190deg, rgba(0, 45, 68, 0.6), rgba(0, 188, 212, 0.6));
@StandingsPositionText: white;
@StandingsManufacturerBackground: white;
@StandingsDriverNameText: white;
@StandingsTimingBackground: linear-gradient(386deg, rgba(0, 45, 68, 0.6), rgba(0, 188, 212, 0.6));
@StandingsTimingText: white;
@StandingsTimingBackgroundPitted: rgba(102, 187, 106, 0.8);
@StandingsTimingBackgroundUnpitted: rgba(255, 82, 82, 0.8);
@StandingsTimingPitText: white;

// Compare Drivers Widget
@CompareRaceBestTimeBackground: rgba(0, 45, 68, 0.8);
@CompareRacePositionBackground: linear-gradient(190deg, rgba(0, 45, 68, 0.8), rgba(0, 188, 212, 0.8));
@CompareRacePositionText: white;
@CompareRacePositionBorder: cyan;
@CompareRaceNameBackground: linear-gradient(386deg, rgba(0, 45, 68, 0.8), rgba(0, 188, 212, 0.8));
@CompareRaceNameText: white;
@CompareRaceNameBorder: cyan;
@CompareRaceTeamNameBackground: rgba(0, 45, 68, 0.8);
@CompareRaceTeamNameText: white;
@CompareRaceManufacturerBackground: white;
@CompareRaceManufacturerBorder: cyan;
@CompareRaceDeltaBackground: linear-gradient(186deg, rgba(0, 45, 68, 0.8), rgba(0, 188, 212, 0.8));
@CompareRaceDeltaText: white;

// Starting Grid Widget
@StartingGridTitleColour: white;
@StartingGridTitleBackground: linear-gradient(186deg, rgba(0, 45, 68, 0.8), rgba(0, 188, 212, 0.8));
@StartingGridTitleBorderTop: cyan;
@StartingGridEntryColour: white;
@StartingGridEntryBackground: linear-gradient(386deg, rgba(0, 45, 68, 0.8), rgba(0, 188, 212, 0.8));
@StartingGridFastestTime: rgba(76, 175, 80,1.0);

// Driver Info Widget
@DriverInfoNameBorder: cyan;
@DriverInfoNameBackground: linear-gradient(386deg, rgba(0, 45, 68, 0.8), rgba(0, 188, 212, 0.8));
@DriverInfoNameText: white;
@DriverInfoTeamNameText: white;
@DriverInfoPositionBorder: cyan;
@DriverInfoPositionBackground: linear-gradient(190deg, rgba(0, 45, 68, 0.8), rgba(0, 188, 212, 0.8));
@DriverInfoPositionText: white;
@DriverInfoPositionClassBackground: rgba(38, 50, 56, 0.5);
@DriverInfoPositionClassText: white;
@DriverInfoBestTimeBackground: rgba(0, 45, 68, 0.8);
@DriverInfoBestTimeText: white;
@DriverInfoSplitTimesBackground: rgba(38, 50, 56, 0.8);
@DriverInfoManufacturerBorder: cyan;
@DriverInfoManufacturerBackground: white;
@DriverInfoClassBackground: rgba(38, 50, 56, 0.5);
@DriverInfoFlagBackground: rgba(38, 50, 56, 0.8);
@DriverInfoFlagBorder: rgba(255, 82, 82, 1.0);
@DriverInfoDrsActiveBackground: rgba(76, 175, 80, 0.7);
@DriverInfoDrsRemainingBackground: rgba(38, 50, 56, 0.8);
@DriverInfoPersonalBestSplitBackground: linear-gradient(rgba(76, 175, 80,1.0), rgba(76, 175, 80, 0.5));
@DriverInfoGlobalBestSplitBackground: linear-gradient(rgba(156, 39, 176,1.0), rgba(156, 39, 176, 0.5));
@DriverInfoPersonalBestSplitText: white;
@DriverInfoGlobalBestSplitText: white;

// Event Info Widget
@EventInfoPanelBackground: linear-gradient(386deg, rgba(0, 45, 68, 0.8), rgba(0, 188, 212, 0.8));
@EventInfoBorderTop: rgba(38, 50, 56,1.0);
@EventInfoBorderBottom: cyan;
@EventInfoServerNameText: white;
@EventInfoServerTrackNameText: white;

// Race Result Widget
@RaceResultTitleBackground: linear-gradient(186deg, rgba(0, 45, 68, 0.8), rgba(0, 188, 212, 0.8));
@RaceResultTitleTextColor: white;
@RaceResultTitleBorderTop: cyan;
@RaceResultEntryBackground: linear-gradient(386deg, rgba(0, 45, 68, 0.8), rgba(0, 188, 212, 0.8));
@RaceResultEntryTextColor: white;

// Qualyfying Results Widget
@QualiResultTitleBackground: linear-gradient(186deg, rgba(0, 45, 68, 0.8), rgba(0, 188, 212, 0.8));
@QualiResultTitleBorderTop: cyan;
@QualiResultEntryBackground: linear-gradient(386deg, rgba(0, 45, 68, 0.8), rgba(0, 188, 212, 0.8));

// Session Info Widget
@SessionInfoTextColor: white;
@SessionInfoBackground: linear-gradient(386deg, rgba(0, 45, 68, 0.8), rgba(0, 188, 212, 0.8));

// Trackmap Widget
@TrackMapOverlayBackground: rgba(0, 0, 0, 0.7);
@TrackMapNormalDotBackground: rgba(0, 230, 118,1.0);
@TrackMapLeaderDotBackground: rgba(255, 152, 0,1.0);
@TrackMapLeaderDotText: rgba(255, 152, 0,1.0);
@TrackMapSelectedDriverBackground: rgba(76, 175, 80, 1.0);
@TrackMapSelectedDriverText: rgba(76, 175, 80, 1.0);
