@import '../resolutionScaler.less';

// Porsche Theme
@widgetBorder: rgba(255, 82, 82, 1.0);
@backgroundDark: rgba(38, 50, 56, 0.8);
@backgroundLight: rgba(38, 50, 56, 0.5);

// resolution scaling
@fontSize: @resolutionScale;

// Alert Widget
@AlertTitleBackgroundColor: white;
@AlertTitleBorderTop: rgba(255, 82, 82, 1.0);
@AlertTitleText: black;
@AlertMessageBackground: #00afc0;
@AlertMessageText: white;

// Safety Car Deployed Widget
@SafetyCarDeployedBackground: rgba(255, 152, 0, 0.7);
@SafetyCarDeployedText: white;

// Safety Car In Widget
@SafetyCarInTitleBackgroundColor: white;
@SafetyCarInTitleBorderTop: rgba(255, 82, 82, 1.0);
@SafetyCarInTitleText: black;
@SafetyCarInMessageBackground: #00afc0;
@SafetyCarInMessageText: white;

// Multiclass Standings Widget
@StandingsPositionBackground: white;
@StandingsPositionText: #00afc0;
@StandingsManufacturerBackground: white;
@StandingsDriverNameText: white;
@StandingsDriverNameClassColour: #00afc0;
@StandingsTimingBackground: white;
@StandingsTimingText: black;
@StandingsTimingBackgroundPitted: linear-gradient(135deg, rgba(0, 200, 83, 0.7) 10%, rgba(0, 200, 83, 0.5) 90%);
@StandingsTimingBackgroundUnpitted: rgba(226, 29, 56, 1);
@StandingsTimingPitText: white;
@StandingsTyreBackground: rgba(38, 50, 56, 0.5);

// Compare Drivers Widget
@CompareRaceBestTimeText: white;
@CompareRaceBestTimeBackground: linear-gradient(135deg, rgba(0, 200, 83, 0.7) 10%, rgba(0, 200, 83, 0.5) 90%);
@CompareRacePositionBackground: white;
@CompareRacePositionText: #00afc0;
@CompareRacePositionBorder: red;
@CompareRaceNameBackground: white;
@CompareRaceNameText: black;
@CompareRaceNameBorder: red;
@CompareRaceTeamNameBackground: #00afc0;
@CompareRaceTeamNameText: white;
@CompareRaceManufacturerBackground: white;
@CompareRaceManufacturerBorder: red;
@CompareRaceDeltaBackground: white;
@CompareRaceDeltaText: #00afc0;
@CompareRaceDeltaDeltaBorder: rgba(255, 82, 82, 1.0);
@CompareRaceDRSActiveBackground: rgba(76, 175, 80, 0.7);
@CompareRaceSpeedBackground: #FF9800;
@CompareRaceSpeedText: black;

// Driver Info Widget
@DriverInfoNameBorder: #d5001c;
@DriverInfoNameBackground: white;
@DriverInfoNameText: black;
@DriverInfoTeamNameText: #00afc0;
@DriverInfoPositionBorder: #d5001c;
@DriverInfoPositionBackground: white;
@DriverInfoPositionText: #00afc0;
@DriverInfoPositionClassBackground: rgba(38, 50, 56, 0.5);
@DriverInfoPositionClassText: white;
@DriverInfoBestTimeBackground: linear-gradient(135deg, rgba(0, 200, 83, 0.7) 10%, rgba(0, 200, 83, 0.5) 90%);
@DriverInfoBestTimeText: white;
@DriverInfoSplitTimesBackground: rgba(38, 50, 56, 0.8);
@DriverInfoManufacturerBorder: #d5001c;
@DriverInfoManufacturerBackground: white;
@DriverInfoClassBackground: rgba(38, 50, 56, 0.5);
@DriverInfoFlagBackground: white;
@DriverInfoFlagBorder: rgba(255, 82, 82, 1.0);
@DriverInfoDrsActiveBackground: rgba(76, 175, 80, 0.7);
@DriverInfoDrsRemainingBackground: rgba(38, 50, 56, 0.8);
@DriverInfoPersonalBestSplitBackground: linear-gradient(135deg, rgba(0, 200, 83, 0.7) 10%, rgba(0, 200, 83, 0.5) 90%);
@DriverInfoGlobalBestSplitBackground: linear-gradient(135deg, rgba(156, 39, 176, 0.9) 10%, rgba(156, 39, 176, 0.7) 90%);
@DriverInfoPersonalBestSplitText: white;
@DriverInfoGlobalBestSplitText: white;
@DriverInfoTyreBackground: rgba(38, 50, 56, 1);
@DriverInfoTyreBorder: #d5001c;

// Event Info Widget
@EventInfoPanelBackground: white;
@EventInfoBorderTop: #d5001c;
@EventInfoBorderBottom: #00afc0;
@EventInfoServerNameText: black;
@EventInfoServerTrackNameText: #00afc0;
@EventInfoWeatherText: black;
@EventInfoDescriptionText: black;

// Race Result Widget
@RaceResultTitleBackground: linear-gradient(80deg, rgba(255, 255, 255, 1) 30%, rgba(0, 175, 192, 1) 70%);
@RaceResultTitleTextColor: white;
@RaceResultTitleBorderTop: #00afc0;
@RaceResultEntryBackground: white;
@RaceResultEntryBorderBottom: rgba(0, 175, 192, 1);
@RaceResultEntryTextColor: black;
@RaceResultTitleLogo: url(results/logos/porsche.png);
@RaceResultWinnerBackground: linear-gradient(80deg, rgba(38, 50, 56, 0) 10%, rgb(0,176,193) 90%);
@RaceResultFastestLapBackground: linear-gradient(240deg, rgba(38, 50, 56, 0.0) 10%, rgba(113,34,154,1) 90%);

// Qualyfying Results Widget
@QualiResultTitleBackground: linear-gradient(80deg, rgba(255, 255, 255, 1) 30%, rgba(0, 175, 192, 1) 70%);
@QualiResultTitleBorderTop: #00afc0;
@QualiResultEntryBackground: white;
@QualiResultEntryTextColor: black;
@QualiResultEntryBorderBottom: rgba(0, 175, 192, 1);
@QualiResultTitleText: white;
@QualiResultTitleLogo: url(results/logos/porsche.png);

// Session Info Widget
@SessionInfoPhaseBackground: white;
@SessionInfoPhaseBorderTop: rgba(255, 82, 82, 1.0);
@SessionInfoPhaseTextColor: black;
@SessionInfoTimerTextColor: white;
@SessionInfoTimerBackground: #00afc0;

// Trackmap Widget
@TrackMapOverlayBackground: rgba(0, 0, 0, 0.7);
@TrackMapLeaderDotBackground: rgba(255, 152, 0,1.0);
@TrackMapLeaderDotText: rgba(255, 152, 0,1.0);
@TrackMapSelectedDriverBackground: rgba(76, 175, 80, 1.0);
@TrackMapSelectedDriverText: rgba(76, 175, 80, 1.0);
@TrackMapDriverPositionText: white;
@TrackMapDriverNameBackground: rgba(38, 50, 56, 0.8);
@TrackMapManufacturerBackground: white;
