// Base Theme
@widgetBorder: rgba(255, 82, 82, 1.0);
@backgroundDark: rgba(38, 50, 56, 0.8);
@backgroundLight: rgba(38, 50, 56, 0.5);

// Alert Widget
@AlertTitleBackgroundColor: rgba(38, 50, 56, 0.8);
@AlertTitleBorderTop: rgba(255, 82, 82, 1.0);
@AlertTitleText: white;
@AlertMessageBackground: rgba(38, 50, 56, 0.6);
@AlertMessageText: white;

// Safety Car Deployed Widget
@SafetyCarDeployedBackground: rgba(255, 152, 0, 0.7);
@SafetyCarDeployedText: white;

// Safety Car In Widget
@SafetyCarInTitleBackgroundColor: rgba(38, 50, 56, 0.8);
@SafetyCarInTitleBorderTop: rgba(255, 82, 82, 1.0);
@SafetyCarInTitleText: white;
@SafetyCarInMessageBackground: rgba(38, 50, 56, 0.6);
@SafetyCarInMessageText: white;

// Damage Check Widget
@DamageCheckBackground: rgba(38, 50, 56, 0.8);
@DamageCheckText: white;

// Multiclass Standings Widget
@StandingsPositionBackground: rgba(38, 50, 56, 0.8);
@StandingsPositionText: white;
@StandingsManufacturerBackground: white;
@StandingsDriverNameText: white;
@StandingsTimingBackground: rgba(38, 50, 56, 0.5);
@StandingsTimingText: white;
@StandingsTimingBackgroundPitted: rgba(102, 187, 106, 1);
@StandingsTimingBackgroundUnpitted: rgba(255, 82, 82, 1);
@StandingsTimingPitText: white;
@StandingsTyreBackground: rgba(38, 50, 56, 0.5);

// Compare Drivers Widget
@CompareRaceBestTimeText: rgba(105, 240, 174,1.0);
@CompareRaceBestTimeBackground: rgba(38, 50, 56, 0.5);
@CompareRacePositionBackground: rgba(38, 50, 56, 0.5);
@CompareRacePositionText: white;
@CompareRacePositionBorder: rgba(255, 82, 82, 1.0);
@CompareRaceNameBackground: rgba(38, 50, 56, 0.8);
@CompareRaceNameText: white;
@CompareRaceNameBackground: rgba(38, 50, 56, 0.5);
@CompareRaceNameBorder: rgba(255, 82, 82, 1.0);
@CompareRaceTeamNameBackground: rgba(38, 50, 56, 0.5);
@CompareRaceTeamNameText: white;
@CompareRaceManufacturerBackground: white;
@CompareRaceManufacturerBorder: rgba(255, 82, 82, 1.0);
@CompareRaceDeltaBackground: rgba(38, 50, 56, 0.5);
@CompareRaceDeltaText: white;
@CompareRaceDRSActiveBackground: rgba(76, 175, 80, 0.7);

// Starting Grid Widget
@StartingGridTitleColour: white;
@StartingGridTitleBackground: rgba(38, 50, 56, 0.8);
@StartingGridTitleBorderTop: rgba(255, 82, 82, 1.0);
@StartingGridEntryColour: white;
@StartingGridEntryBackground: rgba(38, 50, 56, 0.8);
@StartingGridFastestTime: rgba(76, 175, 80,1.0);

// Driver Info Widget
@DriverInfoNameBorder: rgba(255, 82, 82, 1.0);
@DriverInfoNameBackground: rgba(38, 50, 56, 0.8);
@DriverInfoNameText: white;
@DriverInfoTeamNameText: white;
@DriverInfoPositionBorder: rgba(255, 82, 82, 1.0);
@DriverInfoPositionBackground: rgba(38, 50, 56, 0.8);
@DriverInfoPositionText: white;
@DriverInfoPositionClassBackground: rgba(38, 50, 56, 0.5);
@DriverInfoPositionClassText: white;
@DriverInfoBestTimeBackground: rgba(38, 50, 56, 0.8);
@DriverInfoBestTimeText: #00C853;
@DriverInfoSplitTimesBackground: rgba(38, 50, 56, 0.8);
@DriverInfoManufacturerBorder: rgba(255, 82, 82, 1.0);
@DriverInfoManufacturerBackground: white;
@DriverInfoClassBackground: rgba(38, 50, 56, 0.5);
@DriverInfoFlagBackground: rgba(38, 50, 56, 0.8);
@DriverInfoFlagBorder: rgba(255, 82, 82, 1.0);
@DriverInfoDrsActiveBackground: rgba(76, 175, 80, 0.7);
@DriverInfoDrsRemainingBackground: rgba(38, 50, 56, 0.8);
@DriverInfoPersonalBestSplitBackground: linear-gradient(rgba(76, 175, 80,1.0), rgba(76, 175, 80, 0.5));
@DriverInfoGlobalBestSplitBackground: linear-gradient(rgba(156, 39, 176,1.0), rgba(156, 39, 176, 0.5));
@DriverInfoPersonalBestSplitText: white;
@DriverInfoGlobalBestSplitText: white;

// Event Info Widget
@EventInfoPanelBackground: rgba(38, 50, 56, 0.8);
@EventInfoBorderTop: rgba(255, 82, 82, 1.0);
@EventInfoBorderBottom: rgba(255, 82, 82, 1.0);
@EventInfoServerNameText: white;
@EventInfoServerTrackNameText: white;
@EventInfoWeatherText: white;

// Race Result Widget
@RaceResultTitleBackground: rgba(38, 50, 56, 0.8);
@RaceResultTitleTextColor: white;
@RaceResultTitleBorderTop: rgba(255, 82, 82, 1.0);
@RaceResultEntryBackground: rgba(38, 50, 56, 0.8);
@RaceResultEntryTextColor: white;

// Qualyfying Results Widget
@QualiResultTitleBackground: rgba(38, 50, 56, 0.8);
@QualiResultTitleBorderTop: rgba(255, 82, 82, 1.0);
@QualiResultEntryBackground: rgba(38, 50, 56, 0.8);
@QualiResultEntryTextColor: white;

// Session Info Widget
@SessionInfoPhaseBackground: rgba(38, 50, 56, 0.8);
@SessionInfoPhaseBorderTop: rgba(255, 82, 82, 1.0);
@SessionInfoPhaseTextColor: white;
@SessionInfoTimerTextColor: white;
@SessionInfoTimerBackground: rgba(38, 50, 56, 0.6);

// Trackmap Widget
@TrackMapOverlayBackground: rgba(0, 0, 0, 0.7);
@TrackMapLeaderDotBackground: rgba(255, 152, 0,1.0);
@TrackMapLeaderDotText: rgba(255, 152, 0,1.0);
@TrackMapSelectedDriverBackground: rgba(76, 175, 80, 1.0);
@TrackMapSelectedDriverText: rgba(76, 175, 80, 1.0);
@TrackMapDriverPositionText: white;
@TrackMapDriverNameBackground: rgba(38, 50, 56, 0.8);
@TrackMapManufacturerBackground: white;
