
// global

@widgetBorder: rgba(255, 82, 82,1.0);
@background1: rgba(38, 50, 56, 0.8);
@background2: rgba(38, 50, 56, 0.5);

// mandatory pit background colors 
@pitted: rgba(102, 187, 106, 0.8);
@unpitted: rgba(255, 82, 82, 0.8);
