@import '../theme/Ω';

.driverInfoFocusedDriverFlat()  {
	&.hide-flags {
		.flag-container {
			display: none;
		}
	}

	text-align: center;
	font-family: Oswald;
	color: #fff;
	.inner {
		font-size: @fontSize;
		height: 3.5em;
		display: inline-block;
	}
	.extra-info {
		position: absolute;
		top: 4.5em;
		z-index: -1;
		margin-top: 0em;
		font-family: Oswald;
		left: 28%;
		ul {
			margin: 0;
			padding: 0.25em;
			li {
				float: left;
				background: @DriverInfoSplitTimesBackground;
				padding: 0.5em;
				margin-right: 0.5em;
				border: 0.1em;
				border-radius: 0.5em;
				color: white;
				position: relative;

				-webkit-transition: top 0.5s;
				&.active {
					top: 0;
				}
				&.finished {
					color: rgba(255, 255, 255, 1);

					&.personal-best {
						background: @DriverInfoPersonalBestSplitBackground;
						color: @DriverInfoPersonalBestSplitText;
					}
					&.global-best {
						background: @DriverInfoGlobalBestSplitBackground;
						color: @DriverInfoGlobalBestSplitText;
					}
				}
			}
		}
	}
	.best-time {
		line-height: 1em;
		background: @DriverInfoBestTimeBackground;
		padding: 0.5em 0.5em;
		margin-right: 0.5em;
		border-radius: 0.75em 0.75em 0 0;
		color: @DriverInfoBestTimeText;
		height: 1.75em;
		width: 7em;
		z-index: 0;
		margin-bottom: 0px;
		position: relative;
		bottom: 5.75em;
		left: 42%;
	}
	.positionInClass {
		line-height: 1em;
		background: @DriverInfoPositionClassBackground;
		padding: 0.5em 0.5em;
		margin-right: 0.5em;
		border-radius: 0.75em 0.75em 0 0;
		color: @DriverInfoPositionClassText;
		height: 1.75em;
		width: 6em;
		z-index: 0;
		margin-bottom: 0px;
		position: relative;
		bottom: 7.5em;
		left: 63%;
	}
	.position, .flag-container, .name, .team, .tyre, .manufacturer, .vehicle {
		vertical-align: top;
		display: inline-block;
		height: 4em;
		line-height: 3.25em;
	}
	.position {
		background: @DriverInfoPositionBackground;
		color: @DriverInfoPositionText;
		width: 4em;
		padding-left: 0.7em;
		text-align: center;
		padding-right: 0.75em;
		line-height: 3.7em;
		border-top-left-radius: 1em;
		border-bottom-left-radius: 1em;
		border-bottom: 0.1em solid @DriverInfoPositionBorder;
	}
	.name {
  	background: @DriverInfoNameBackground;
		color: @DriverInfoNameText;
		line-height: 3em;
		text-transform: uppercase;
		padding: 0px 1em;
		min-width: 25em;
		border-bottom: 0.1em solid @DriverInfoNameBorder;
	}
	.team {
		position: relative;
		color: @DriverInfoTeamNameText;
		line-height: 3em;
		text-transform: uppercase;
		left: 59%;
		float: left;
		right: 59%;
		top: 1.6em;
	}
	.vehicle {
		width: 1.75em;
		position: absolute;
		border-top-right-radius: 1em;
		border-bottom-right-radius: 1em;
		img {
			position: absolute;
			top: -3.9em;
			left: -7.5em;
			height: 5.5em;
		}
	}
	.tyre {
		width: 1.75em;
		position: absolute;
		border-top-right-radius: 1em;
		border-bottom-right-radius: 1em;
			img {
				position: absolute;
				top: 0.5em;
				left: -3.5em;
				height: 3em;
			}
	}
	.manufacturer {
		background: @DriverInfoManufacturerBackground;
		width: 4em;
		position: fixed;
		border-top-right-radius: 1em;
		border-bottom-right-radius: 1em;
		border-bottom: 0.1em solid @DriverInfoManufacturerBorder;
		img {
			position: relative;
			top: 0.5em;
			left: 0.1em;
			height: 3em;
		}
	}
	.flag-container {
		width: 3em;
		position: relative;
		background: @DriverInfoFlagBackground;
		border-bottom: 0.1em solid @DriverInfoFlagBorder;
		.flag {
			position: absolute;
			display: block;
			width: 5em;
			height: 5em;
			top: -0.75em;
			border-bottom-right-radius: 1em;
			border-top-left-radius: 1em;
			filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.9));
		}
	}
}
/* Hide DRS inactive state on all cars to not show on cars that don't have drs. Height, Font size for inactive is invisible */
.drs {
.icon {
	background: rgba(76, 175, 80, 0.2);
	position: absolute;
	top: -10px;
	left: -240px;
	right: 10px;
	height: 1px;
	line-height: 50px;
	font-family: Oswald;
	font-size: 0px;
	width: 1px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	bottom: 0;
}
.text {
	background: @backgroundDark;
	position: absolute;
	top: 40px;
	left: -240px;
	right: 10px;
	height: 1px;
	width: 1px;
	line-height: 50px;
	font-size: 0px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	bottom: 0;
}
	&.active {
		.icon {
			background: @DriverInfoDrsActiveBackground;
			position: fixed;
			top: -0.5em;
			left: -12em;
			right: 0.5em;
			height: 2.5em;
			line-height: 2.5em;
			font-family: Oswald;
			width: 7.5em;
			border-top-left-radius: 1em;
			border-top-right-radius: 1em;
			bottom: 0;
		}
		.text {
			background: @DriverInfoDrsRemainingBackground;
			position: fixed;
			top: 2em;
			left: -12em;
			right: 0.5em;
			height: 2.5em;
			line-height: 2.5em;
			width: 7.5em;
			border-bottom-left-radius: 1em;
			border-bottom-right-radius: 1em;
			bottom: 0;
		}
	}
}
.ptp {
	.text {
		background: @backgroundDark;
		position: fixed;
		top: 40px;
		left: -240px;
		right: 10px;
		height: 50px;
		width: 0px;
		line-height: 50px;
		font-size: 0px;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		bottom: 0;
	}
	.icon {
		background: rgba(183, 28, 28, 0.7);
		position: fixed;
		top: -10px;
		left: -240px;
		right: 10px;
		height: 50px;
		line-height: 50px;
		font-family: Oswald;
		font-size: 0px;
		width: 0px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		bottom: 0;
	}
	&.active {
		.icon {
			background: rgba(66, 165, 245, 0.7);
			position: fixed;
			top: -0.5em;
			left: -12em;
			right: 0.5em;
			height: 2.5em;
			line-height: 2.5em;
			font-family: Oswald;
			width: 7.5em;
			border-top-left-radius: 1em;
			border-top-right-radius: 1em;
			bottom: 0;
		}
		.text {
			background: @backgroundDark;
			position: fixed;
			top: 2em;
			left: -12em;
			right: 0.5em;
			height: 2.5em;
			line-height: 2.5em;
			width: 7.5em;
			border-bottom-left-radius: 1em;
			border-bottom-right-radius: 1em;
			bottom: 0;
		}
	}
}
.focused-driver-info {
	.driverInfoFocusedDriverFlat;
	position: fixed;
	bottom: 7%;
	left: 0;
	right: 0;
}
