.driverInfoFocusedDriverFlat()  {
	&.hide-flags {
		.flag-container {
			display: none;
		}
	}

	text-align: center;
	font-family: Oswald;
	color: #fff;
	.onCreation(-webkit-transform, translate(0, 120px), translate(0, 0), 0.5s);
	.inner {
		height: 71px;
		display: inline-block;
		position: absolute;
		left: 30%;
		bottom: 20%;
	}
	.extra-info {
		position: absolute;
		top: 85px;
		left: 75px;
		z-index: -1;
		margin-top: 0px;
		font-family: Hel;
		ul {
			margin: 0;
			padding: 5px;
			li {
				font-size: 20px;
				float: left;
				background: rgba(38, 50, 56, 0.7);
				padding: 8px;
				margin-right: 10px;
				border: 1px;
				border-radius: 50px;
				color: white;
				position: relative;

				-webkit-transition: top 0.5s;
				&.active {
					top: 0;
				}
				&.finished {
					color: rgba(255, 255, 255, 1);

					&.personal-best {
						color: rgb(0, 200, 83);
					}
					&.global-best {
						color: rgba(213, 0, 249,1.0);
					}
				}
			}
		}
	}
	.best-time {
		font-size: 18px;
		background-color: rgba(38, 50, 56, 0.5);
		padding: 10px 10px;
		margin-right: 10px;
		border-radius: 10px 10px 0 0;
		color: white;
		height: 35px;
		width: 140px;
		font-family: HEL;
		font-style: italic;
		z-index: 0;
		margin-bottom: 0px;
		position: absolute;
		left: 160px;
		bottom: 100%;
		-webkit-transition: top 0.5s;
	}
	.positionInClass {
		font-size: 18px;
		background-color: rgba(38, 50, 56, 0.5);
		padding: 10px 10px;
		margin-right: 10px;
		border-radius: 10px 10px 0 0;
		color: white;
		height: 35px;
		width: 140px;
		font-family: HEL;
		font-style: italic;
		z-index: 0;
		margin-bottom: 0px;
		position: absolute;
		left: 310px;
		bottom: 100%;
		-webkit-transition: top 0.5s;
	}
	.position, .name, .vehicle, .team, .manufacturer, .flag-container {
		vertical-align: top;
		display: inline-block;
		height: 85px;
		line-height: 65px;
	}
	.position {
		background-color: rgba(38, 50, 56, 0.3);
		width: 65px;
		font-size: 60px;
		text-align: center;
		padding-left: 0px;
		line-height: 80px;
		right: 300px;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}
	.name {
  	background-color: rgba(38, 50, 56, 0.8);
		font-size: 30px;
		text-transform: uppercase;
		padding: 0px 20px;
		min-width: 525px;
	}
	.team {
		position: absolute;
		color: white;
		font-size: 20px;
		text-transform: uppercase;
		left: 20%;
		right: 13%;
		top: 35px;
	}
	.vehicle {
		background-color: rgba(38, 50, 56, 0.8);
		background-position: -442px 0;
		width: 36px;
		position: absolute;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		img {
			position: absolute;
			top: -80px;
			left: -170px;
			height: 110px;
		}
	}
	.manufacturer {
		background-color: white;
		background-position: -442px 0;
		width: 76px;
		left: -25px;
		position: relative;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		img {
			position: absolute;
			top: 15px;
			left: 7px;
			height: 62px;
		}
	}
	.class {
		background-color: rgba(38, 50, 56, 0.3);
		font-size: 35px;
		text-transform: uppercase;
		padding: 0px 20px;
		min-width: 25px;
	}
	.flag-container {
		width: 61px;
		background-position: -65px 0;
		position: relative;
		margin-right: 5px;
		.flag {
			width: 71px;
			height: 81px;
			background: #000;
			position: absolute;
			display: block;
			width: 95px;
			height: 95px;
			background: #000;
			position: absolute;
			top: -8px;
			left: -5px;
			border-bottom-right-radius: 20%;
			border-top-left-radius: 20%;
		}
	}
}
.drs {
	height: 71px;
	line-height: 75px;
	width: 104px;
	background-position: -518px 0;
	position: relative;
	.icon {

	}
	&.active {
		.icon {
			background: url(/focusedDriver/flat/drs-on.png) center center no-repeat;
			position: absolute;
			top: -140px;
			left: -230px;
			right: 10px;
			bottom: 0;
		}
	}
}
.ptp {
	height: 71px;
	line-height: 75px;
	width: 104px;
	background-position: -518px 0;
	position: relative;
	.icon {

	}
	&.active {
		.icon {
			background: url(/focusedDriver/flat/ptp-on.png) center center no-repeat;
			position: absolute;
			top: -140px;
			left: -230px;
			right: 10px;
			bottom: 0;
		}
	}
}
.flat .focused-driver-info {
	.driverInfoFocusedDriverFlat;
	position: fixed;
	bottom: 60px;
	left: 0;
	right: 0;
}
