@import '../theme/theme';

.driverInfoFocusedDriverFlat()  {
	&.hide-flags {
		.flag-container {
			display: none;
		}
	}

	text-align: center;
	font-family: Oswald;
	color: #fff;
	.onCreation(-webkit-transform, translate(0, 120px), translate(0, 0), 0.3s);
	.inner {
		height: 71px;
		display: inline-block;
		position: absolute;
		left: 30%;
		bottom: 20%;
	}
	.extra-info {
		position: absolute;
		top: 90px;
		z-index: -1;
		margin-top: 0px;
		font-family: Oswald;
		left: 28%;
		ul {
			margin: 0;
			padding: 5px;
			li {
				font-size: 17px;
				float: left;
				background: @DriverInfoSplitTimesBackground;
				padding: 8px;
				margin-right: 10px;
				border: 1px;
				border-radius: 10px;
				color: white;
				position: relative;

				-webkit-transition: top 0.5s;
				&.active {
					top: 0;
				}
				&.finished {
					color: rgba(255, 255, 255, 1);

					&.personal-best {
						background: @DriverInfoPersonalBestSplitBackground;
						color: @DriverInfoPersonalBestSplitText;
					}
					&.global-best {
						background: @DriverInfoGlobalBestSplitBackground;
						color: @DriverInfoGlobalBestSplitText;
					}
				}
			}
		}
	}
	.best-time {
		line-height: 17px;
		font-size: 18px;
		background: @DriverInfoBestTimeBackground;
		padding: 10px 10px;
		margin-right: 10px;
		border-radius: 10px 10px 0 0;
		color: @DriverInfoBestTimeText;
		height: 35px;
		width: 140px;
		z-index: 0;
		margin-bottom: 0px;
		position: absolute;
		left: 210px;
		bottom: 100%;
		-webkit-transition: top 0.5s;
	}
	.positionInClass {
		line-height: 17px;
		font-size: 18px;
		background: @DriverInfoPositionClassBackground;
		padding: 10px 10px;
		margin-right: 10px;
		border-radius: 10px 10px 0 0;
		color: @DriverInfoPositionClassText;
		height: 35px;
		width: 140px;
		z-index: 0;
		margin-bottom: 0px;
		position: absolute;
		left: 360px;
		bottom: 100%;
		-webkit-transition: top 0.5s;
	}
	.position, .flag-container, .name, .team, .tyre, .manufacturer, .vehicle {
		vertical-align: top;
		display: inline-block;
		height: 85px;
		line-height: 65px;
	}
	.position {
		background: @DriverInfoPositionBackground;
		color: @DriverInfoPositionText;
		width: 100px;
		font-size: 60px;
		text-align: center;
		padding-right: 13px;
		line-height: 80px;
		right: 300px;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
		border-bottom: 2px solid @DriverInfoPositionBorder;
	}
	.name {
  	background: @DriverInfoNameBackground;
		color: @DriverInfoNameText;
		font-size: 30px;
		line-height: 60px;
		text-transform: uppercase;
		padding: 0px 20px;
		min-width: 500px;
		border-bottom: 2px solid @DriverInfoNameBorder;
	}
	.team {
		position: absolute;
		color: @DriverInfoTeamNameText;
		font-size: 20px;
		line-height: 60px;
		text-transform: uppercase;
		left: 25%;
		right: 13%;
		top: 35px;
	}
	.vehicle {
		background-position: -442px 0;
		width: 36px;
		position: absolute;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		img {
			position: absolute;
			top: -80px;
			left: -230px;
			height: 110px;
		}
	}
	.tyre {
		background-position: -442px 0;
		width: 36px;
		position: absolute;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
			img {
				position: absolute;
				top: 15px;
				left: -92px;
				height: 60px;
			}
	}
	.manufacturer {
		background: @DriverInfoManufacturerBackground;
		background-position: -442px 0;
		width: 76px;
		left: -25px;
		position: relative;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		border-bottom: 2px solid @DriverInfoManufacturerBorder;
		img {
			position: absolute;
			top: 10px;
			left: 7px;
			height: 62px;
		}
	}
	.class {
		background: @DriverInfoClassBackground;
		font-size: 35px;
		text-transform: uppercase;
		padding: 0px 20px;
		min-width: 25px;
	}
	.flag-container {
		width: 61px;
		background-position: -65px 0;
		position: relative;
		background: @DriverInfoFlagBackground;
		border-bottom: 2px solid @DriverInfoFlagBorder;
		.flag {
			position: absolute;
			display: block;
			width: 100px;
			height: 100px;
			position: absolute;
			top: -15px;
			left: -10px;
			border-bottom-right-radius: 20%;
			border-top-left-radius: 20%;
			filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.9));
		}
	}
}
/* Hide DRS inactive state on all cars to not show on cars that don't have drs. Height, Font size for inactive is invisible */
.drs {
.icon {
	background: rgba(76, 175, 80, 0.2);
	position: absolute;
	top: -10px;
	left: -240px;
	right: 10px;
	height: 1px;
	line-height: 50px;
	font-family: Oswald;
	font-size: 0px;
	width: 1px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	bottom: 0;
}
.text {
	background: @backgroundDark;
	position: absolute;
	top: 40px;
	left: -240px;
	right: 10px;
	height: 1px;
	width: 1px;
	line-height: 50px;
	font-size: 0px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	bottom: 0;
}
	&.active {
		.icon {
			background: @DriverInfoDrsActiveBackground;
			position: absolute;
			top: -10px;
			left: -240px;
			right: 10px;
			height: 50px;
			line-height: 50px;
			font-family: Oswald;
			font-size: 30px;
			width: 150px;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
			bottom: 0;
		}
		.text {
			background: @DriverInfoDrsRemainingBackground;
			position: absolute;
			top: 40px;
			left: -240px;
			right: 10px;
			height: 50px;
			width: 150px;
			line-height: 50px;
			font-size: 20px;
			border-bottom-left-radius: 20px;
			border-bottom-right-radius: 20px;
			bottom: 0;
		}
	}
}
.ptp {
	.text {
		background: @backgroundDark;
		position: absolute;
		top: 40px;
		left: -240px;
		right: 10px;
		height: 50px;
		width: 0px;
		line-height: 50px;
		font-size: 0px;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		bottom: 0;
	}
	.icon {
		background: rgba(183, 28, 28, 0.7);
		position: absolute;
		top: -10px;
		left: -240px;
		right: 10px;
		height: 50px;
		line-height: 50px;
		font-family: Oswald;
		font-size: 0px;
		width: 0px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		bottom: 0;
	}
	&.active {
		.icon {
			background: rgba(66, 165, 245, 0.7);
			position: absolute;
			top: -10px;
			left: -240px;
			right: 10px;
			height: 50px;
			line-height: 50px;
			font-family: Oswald;
			font-size: 30px;
			width: 150px;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
			bottom: 0;
		}
		.text {
			background: @backgroundDark;
			position: absolute;
			top: 40px;
			left: -240px;
			right: 10px;
			height: 50px;
			width: 150px;
			line-height: 50px;
			font-size: 20px;
			border-bottom-left-radius: 20px;
			border-bottom-right-radius: 20px;
			bottom: 0;
		}
	}
}
.flat .focused-driver-info {
	.driverInfoFocusedDriverFlat;
	position: fixed;
	bottom: 70px;
	left: 0;
	right: 0;
}
